[2020-07-01 05:17] moschan opened #16 "strapi-helper-plugin style guide"
- [x] **I have created my request on the Product Board before I submitted this issue**
- [x] **I have looked at all the other requests on the Product Board before I submitted this issue**

**Please describe your feature request:**

If you want to extend the function, you will create own plugin. strapi provides some shared helper component which you can use for building UI of plugin. I think it's b

[2020-09-24 12:58] zurfluh opened #14 "JWT authentication - HTTP 403 - Invalid credentials - `strapi develop`"
**Describe the bug**
When running Strapi with a custom `JWT_TOKEN`, login works and returns a JWT. Using this JWT to authenticate API requests results in HTTP 403 with the message "Invalid credentials".

The only way for me to avoid this is to delete `jwt.js` and let Strapi auto-generate the file. As soon as I change the file, authentication breaks again, and can again only be fixed by deleting `j

[2020-10-22 17:39] soupette opened #2 "FIRST ISSUE"
First issue opened!

[2020-10-22 17:42] #2 closed

[2020-10-22 18:06] derrickmehaffy opened #3 "New First"
Sorry @soupette I am the first

[2020-10-22 18:06] #3 closed

[2020-10-22 18:08] soupette commented on #3
Lol

[2020-12-11 03:45] mo9a7i opened #36 "strapi/docs/v3.x/concepts/routing.md add sample cli call to create route"
## Feature request

Add a sample call example to create a custom route through cli, similar to controllers.

### Please describe your feature request

I was doing my custom controller to do a simple function (does not require a content-type)
my controller was called, "globalcalls", needed it to add a function to get counters and statistics for all my main contents (number of posts, number of comme

[2020-12-14 22:50] derrickmehaffy opened #13 "[REQUEST] Sentry Plugin - Developer Docs"
### Summary

Document the Sentry plugin within the Developer Documentation.

### Why is it needed?

We document all of our features :wink:

### Suggested solution(s)

Work with integrations team to build documentation.

### Related issue(s)/PR(s)

https://github.com/strapi/strapi/pull/8890

[2020-12-15 22:12] jasonprado opened #15 "Error log is suppressed in unit test when following unit testing guide"
**Describe the bug**
I’m following the [unit testing guide](https://strapi.io/documentation/v3.x/guides/unit-testing.html#testing-environment) and I hit an error because I didn’t have sqlite3 installed. No error was printed at the command line and I had to `console.log` from inside the framework to see what was wrong.

**Steps to reproduce the behavior**

1. Follow the [unit testing guide](https:/

[2020-12-17 15:29] derrickmehaffy opened #20 "[BUG] Fix 500 404 errors on new docs"
### Link to the documentation resource

-

### Describe the bug

When entering an invalid path, server responds with an aggressive 500 error

https://strapi.io/documentation/user-docs/latest/content-manager/blah.html

### Screenshots

N/A

### Code snippets

N/A

### Additional context

Related to deployed nginx config, will need tweaked

[2020-12-17 15:52] eriskhan opened #22 "migrate-3.4.0.js returns 500 Internal Error"
## Bug report

### Describe the bug

Impossible to download migrate-3.4.0.js migration script.

### Steps to reproduce the behavior

1. Go to https://strapi.io/documentation/developer-docs/assets/migrations/scripts/migrate-3.4.0.js
2. See error

### Expected behavior

Script downloaded

### Screenshots

![image](https://user-images.githubusercontent.com/20924122/102510713-fb48f000-4098-11eb-865f-1

[2020-12-17 16:02] Pablo-Aldana opened #21 "["BUG"] 500 while downloading migrate-3.4.0.js file"
### Link to the documentation resource

https://github.com/strapi/documentation/blob/documentation/developer-docs/latest/migration-guide/migration-guide-3.3.x-to-3.4.0.md

### Describe the bug

When you click on the migrate-3.4.0.js it download an html file with a 500 error

### Screenshots

If applicable, add screenshots to help explain your problem.

<img width="1006" alt="image" src="https://us

[2020-12-17 16:35] naomigrace commented on #21
[This answer links to the location of the migration file](https://github.com/strapi/documentation/issues/22#issuecomment-747531012)

[2020-12-17 16:42] derrickmehaffy commented on #21
closing as duplicate https://github.com/strapi/documentation/issues/22

[2020-12-17 16:42] #21 closed

[2020-12-17 17:12] milindsingh commented on #22
Can anyone quickly merge my PR for incorrect URL for migration script? (I am new to Strapi)

https://github.com/strapi/documentation/pull/23

[2020-12-17 18:47] derrickmehaffy commented on #22
Thank you @milindsingh I noticed it far too late lol. Already fixed in https://github.com/strapi/documentation/commit/c82b380d668be5d59594538dd7896773ed35caac but thank you so much.

Going to mark this one as closed.

[2020-12-17 18:47] #22 closed

[2020-12-17 21:53] derrickmehaffy commented on #20
Temporary fix is in place (ugly) will require additional fixes to be done properly.

[2020-12-17 23:58] dbrosy opened #26 "Documentation correction - Guides - Setup a third party client"
Documentation update:

https://strapi.io/documentation/developer-docs/latest/guides/client.html#initialize-the-client

With the current implementation the following code gives an error on startup

Path — ./hooks/github/index.js
[code]

Error
[code]

Solution - replace above code with following
[code]
This is as per https://octokit.github.io/rest.js/v18 documentation

[2020-12-18 01:07] derrickmehaffy commented on #26
Please open documentation issues in the documentation repo. I've transferred the issue for you.

[2020-12-18 15:11] Marcosul opened #28 "BUG: New version 3.4.0 dont show JSON data in admin"
New version 3.4.0 dont show JSON data in admin.

Is saving data, but in admin panel show as empty field

[2020-12-18 16:40] MattieBelt commented on #28
Hey @Marcosul,

[strapi/strapi](https://github.com/strapi/strapi/) is the correct repo to report an issue with Strapi, this repo is only for the requests or issues with the documentation ([Contributing guide](https://github.com/strapi/documentation/blob/main/CONTRIBUTING.md)).
Also this issue is a duplicate of strapi/strapi#8930

[2020-12-18 20:35] derrickmehaffy commented on #28
Closing as wrong repo.

[2020-12-18 20:35] #28 closed

[2020-12-18 20:43] derrickmehaffy opened #29 "[Bug]: testing please ignore"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/getting-started/introduction.html

**Describe the bug**

desc

**Additional context**

[code]

- bullet 1
- bullet 2

- [ ] no check
- [x] check

**Suggested improvements or fixes**

https://github.com/strapi/documentation/blob/6e8843fc24c1330b60bb35c51e8d7b5a4862a100/.editorconfig#L1

**Related i

[2020-12-18 20:54] #29 closed

[2020-12-20 14:17] biapar opened #31 "["REQUEST"] How to manipulate data before writing into a db and reading from db ( example Crypto )?"
How to manipulate data before writing into a db and reading from db ( example Crypto )?

[2020-12-21 16:41] derrickmehaffy commented on #31
Please follow the required template for a doc request. Closing

[2020-12-21 16:41] #31 closed

[2020-12-21 18:17] biapar opened #34 "[Request]: How to manipulate data before writing into a db and reading from db ( example Crypto )?"
**Summary**

I wish to crypto data before saving into database and decrypt after reading. How to?

**Why is it needed?**

To mask sensitive data.

**Suggested solution(s)**

_No response_

**Related issue(s)/PR(s)**

_No response_

[2020-12-22 16:36] Adityakhandelwal021 opened #35 "["BUG"]"
Error: ER_PARSE_ERROR: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '(NULL)' at line 1
facing this problem when I upload multiple files to the database  using node.js

[2020-12-22 18:17] derrickmehaffy commented on #35
Please properly fill out the template.

Also Code bug reports should be directed towards the code repo: https://github.com/strapi/strapi

[2020-12-22 18:17] #35 closed

[2020-12-22 22:09] louisremi opened #37 "The "Create a Slug System" documentation should mention the possibility to use a UID"
The easiest way to add a slug field to a Type is to use a `UID` field and set its `Attached field` to the desired "full name" field.

This should be mentionned at least in a warning at the top of the "Create a Slug System" documentation https://strapi.io/documentation/v3.x/guides/slug.html
(I guess that documentation is still useful if one wants to tweak the way slugs are created)

[2020-12-23 20:10] eleventynick opened #38 "[Bug]: Gridsome is misspelled"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/getting-started/quick-start.html#_9-consume-the-content-type-s-api

**Describe the bug**

"Gridsome" should not be spelled "Grisdome."

**Additional context**

_No response_

**Suggested improvements or fixes**

_No response_

**Related issue(s)/PR(s)**

_No response_

[2020-12-26 20:40] pavlochernovyy opened #40 "[Bug]: Searched (by algolia) item between docs gets 404 page"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/getting-started/introduction.html

**Describe the bug**

Steps to reproduce:
1. Being on developer docs type "plugins" into search box
2. Click on "Introduction to plugins"

Expected results:
`https://strapi.io/documentation/user-docs/latest/plugins/introduction-to-plugins.html#introduction-to-plu

[2020-12-28 20:48] derrickmehaffy commented on #38
@eleventynick can you create a pull request? Thanks

[2020-12-31 09:10] biapar commented on #34
How can I move from hold status?

[2021-01-03 09:40] Simperfy opened #43 "[BUG]: GraphQL header example missing quotes"
### What happened
After installing the graphql using npm.
Then I opened [http://localhost:1337/graphql](http://localhost:1337/graphql) then fetched public data which works fine,
after that I tried to fetched private data which needs the JWT Token.

**I copy-paste the header example in the docs.** (replaced with working jwt token)
[code]

But it returns a super long error JSON with message: "Forbid

[2021-01-04 11:49] WEEFAA commented on #14
This should be fix. 🎬

[2021-01-04 13:58] cipiasentini opened #46 "[Bug]: Cannot see documentation for older versions"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/getting-started/introduction.html

**Describe the bug**

There used to be a dropdown menu for selecting the strapi version used in order to check the documentation. Now there's onle strapi 'Latest - 3.x.x'

**Additional context**

The problem is that I wanted to see how to activate a sendgrid prov

[2021-01-04 14:43] derrickmehaffy commented on #46
We no longer support the Beta versions per our: https://github.com/strapi/strapi/blob/master/SECURITY.md

If you wish to view the beta documentation, you will have to pull one of the releases from the release page: https://github.com/strapi/strapi/releases and build the documentation locally.

For example: https://github.com/strapi/strapi/releases/tag/v3.0.0-beta.20.3 you can download the source c

[2021-01-04 14:43] #46 closed

[2021-01-07 13:57] #43 closed

[2021-01-10 16:00] aditya-mitra opened #640 "Cannot Write into SQLite3 during unit test"
## Bug report

### Describe the bug

[I was following the strapi testing documentation when this arose.](https://strapi.io/documentation/developer-docs/latest/guides/unit-testing.html#testing-auth-endpoint-controller)

I was trying to test a strapi endpoint and inserting user data into the db when **it can gave an error that *data could not be inserted into read-only db***

*I have just copied thi

[2021-01-11 00:35] oranger opened #57 "[Request]: Collection types add group function."
**Summary**

For example, I use strapi to manage two websites. On the right side, I use "collection types" to display them in groups. I think this will be better.

**Why is it needed?**

 I use strapi to manage two websites or more, I need search "collection types" not friendly

**Suggested solution(s)**

Add "collection types" group, on the side, like meunu show information.

**Related issue(s)/P

[2021-01-11 10:27] JulienVerkest opened #58 "[Bug]: 404 link Custom admin Content Mangager"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/guides/custom-admin.html#update-the-content-manager

**Describe the bug**

`Here is the Row component`  is a broken link https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-content-manager/admin/src/components/CustomTable/Row.js

**Additional context**

_No response_

**Suggested i

[2021-01-12 05:48] NLStom opened #59 "[Request]: AWS hosting video or better documentation"
**Summary**

Create a video for deployment to AWS or a shorter or maybe updated version of AWS hosting.

**Why is it needed?**

I found the documentation of AWS hosting is really hard to follow and I wasn't able to deploy it to AWS successfully following the documentation.

**Suggested solution(s)**

_No response_

**Related issue(s)/PR(s)**

_No response_

[2021-01-12 18:05] derrickmehaffy commented on #59
Thanks @NLStom , the AWS docs are most certainly on our list to refactor, I don't quite have an ETA yet but thanks for putting the request in.

[2021-01-15 14:00] aamibhoot opened #61 "[Request]: Combination of different fields to make a UID field"
**Summary**

Hi first I love Strapi as noob I like the feature to add a field for UIDs but it could be awsome have an option to mix more than one fields to make a UID 😍.

**Why is it needed?**

It's very helpful creating UID for schools by combining class name, group name and roll number to make and id like
👉 CLS9-SCI-123 [Class-Group-Roll]
Or in banking system like branch and account number and t

[2021-01-16 15:50] Nilegfx opened #64 "[Bug]: all js requests in documentation site stuck with pending status"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/getting-started/introduction.html

**Describe the bug**

Whenever I open the documentation site, the tab hangs forever, I tried to open the devtools before I open the site to check what is going not, found that all js files requests are pending.

I tried to fetch one js file and fetch it with curl

[2021-01-17 11:02] alihassan143 opened #65 "[1/4] Resolving packages... error An unexpected error occurred: "https://registry.npmjs.org/create-strapi-app: error:0909006C:PEM routines:get_name:no start line".["BUG"]"
cannot be able to install strapi in my project always show error

[2021-01-18 21:11] dope-lab commented on #64
@Nilegfx , I don't think its an issue with strapi. That's a lot of JS requests. The documentation loads fine for me and below are the only scripts loaded.
![image](https://user-images.githubusercontent.com/23196262/104963041-b3065000-59ff-11eb-8749-69a651d5a8d8.png)

Maybe try with another device/desktop ?

[2021-01-20 13:09] RomWW12 opened #71 "[Request]: Missing languageNativeNames addition in migration guide"
**Summary**

First, thank you for the amazing work you are doing. We have more and more projects using Strapi in my company (Theodo) and we love it!

We recently upgraded from 3.1.4 to 3.3.0 (3.4.0 is coming), and we faced an issue regarding the custom admin translations customization we put in place. After the upgrade we ran into a blank page containing this error in the console without knowing w

[2021-01-20 19:10] siemen-subbaiah opened #73 "[Request]: Cannot change color and logo in the admin panel as there is no admin folder but docs tells it can be done in the admin folder"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/admin-panel/customization.html#styles

**Describe the bug**

If anyone needs to change the Strapi admin panel's Left-Menu-Header's color, the documentation tells to change the style in this folder :
./admin/src/components/LeftMenu/LeftMenuHeader/Wrapper.js
But in actual the admin folder is missing

[2021-01-20 19:55] derrickmehaffy commented on #65
Code issues should be directed towards https://github.com/strapi/strapi and require a bug report template.

Marking as closed.

[2021-01-20 19:55] #65 closed

[2021-01-20 21:36] derrickmehaffy commented on #73
@siemen-subbaiah much like our [Extensions system](https://strapi.io/documentation/developer-docs/latest/getting-started/troubleshooting.html#how-do-i-customize-a-plugin) you must create the file/folder structure to override the file yourself. It will not exist by default because the default option pulls it from `node_modules`

The only difference in this case from extensions is the package is not

[2021-01-21 02:46] siemen-subbaiah commented on #73
- Ya I totally got you, but in that section of the docs it doesn't mention to create the folder..
So I'm asking for a documentation change!!

[2021-01-21 11:27] freaknastyzeb92 opened #77 "[Request]: all photos of https://www.facebook.com/profile.php?id=100024987930327"

[2021-01-22 21:31] derrickmehaffy commented on #77
No context to the request, and did not follow the bug report template. closing

[2021-01-22 21:31] #77 closed

[2021-01-22 21:33] derrickmehaffy commented on #64
The Devdocs do have a lot of small requests (vuepress does some weird build) but you might have caught us while we were deploying a new version.

Going to mark as closed for the moment, but please let us know if the issue continues.

[2021-01-22 21:33] #64 closed

[2021-01-22 21:33] derrickmehaffy commented on #71
Yes please feel free :)

[2021-01-26 14:02] simonpedro33 opened #87 "[Bug]: Typo in documentation Find by id IN"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/concepts/queries.html#api-reference

**Describe the bug**

Find by "in"IN, with a limit:

**Additional context**

_No response_

**Suggested improvements or fixes**

should say:

Find by "id" IN, with a limit:

**Related issue(s)/PR(s)**

_No response_

[2021-01-29 16:00] szvest opened #93 "[Request]: How to extend registration fields (create custom fields)"
I have been looking for documentation about adding custom fields to the default registration process by found nothing in particular detailing the process - neither on the docs nor in the forums.

How to define custom fields for the `UsersPermissionsRegisterInput` type?

[2021-01-30 23:15] teinett opened #94 "[Bug]: No docs about migration to version 3.4.5"
There is release of version 3.4.5 https://github.com/strapi/strapi/releases/tag/v3.4.5

Problem: the page of Migration docs https://strapi.io/documentation/developer-docs/latest/migration-guide/#instructions doesn't know about this version.

![image](https://user-images.githubusercontent.com/1038168/106370420-e5eb0500-636a-11eb-82a7-57f5051fb414.png)

I have version 3.4.4.

What should I do to mig

[2021-01-31 20:37] derrickmehaffy commented on #94
Not all versions require a migration guide, if no migration is needed, no guide is made.

[2021-01-31 20:37] #94 closed

[2021-02-01 16:41] biapar opened #95 "["REQUEST"] Is there an example how to customize a controller?"
Is there an example how to customize a controller? I wish to manipulate data before read and save or update.
thanks.

[2021-02-02 01:28] derrickmehaffy commented on #95
You can find controller customization documentation here: https://strapi.io/documentation/developer-docs/latest/concepts/controllers.html

[2021-02-02 01:28] #95 closed

[2021-02-03 11:17] jiangwei1995 opened #100 "[Bug]: content-types-builder documentation 404"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/documentation/user-docs/latest/content-types-builder/introduction-to-content-types-builder.html#introduction-to-the-content-types-builder

**Describe the bug**

content-types-builder documentation  404

https://strapi.io/documentation/developer-docs/documentation/user-docs/latest/content-types-builder/in

[2021-02-03 15:38] layaxx commented on #100
The search bar appears to be broken, every link accessed via the search seems to result in a 404. Remove the "documentation/developer-docs/" part from the url and it works.

[2021-02-04 23:58] MattieBelt commented on #73
Hey, it is some way mentioned and shown in the examples above.
I do agree some restructuring & rewriting of this page, could improve it.

@siemen-subbaiah feel free to submit a small (or bigger) contribution on how you think this page could be more clear about how to achieve a customization of the admin panel. If you have no time to submit a PR or look into it, I can try to improve it this weekend

[2021-02-05 00:01] MattieBelt commented on #73
Referencing #76 as I just discovered you submitted a PR. 💪🏼

[2021-02-05 00:27] MattieBelt commented on #87
Hey @simonpedro33,

Thanks for reporting this typo, feel free to [submit a PR](https://github.com/strapi/documentation/edit/documentation/developer-docs/latest/concepts/queries.md) that updates this page.
It probably is a very low priority for the Strapi team and it could be an easy-in-the-pocket first open-source contribution for you ❤️

[2021-02-05 16:20] derrickmehaffy opened #105 "NOTICE: The Documentation is currently under a change freeze"
Just wanted to give a small update to those submitting issues and PRs (sorry on the late notice)

Our documentation has been under a change freeze for the beginning part of 2021 and this will probably continue until the end of Feb 2021 as we are doing some major restructuring. Please note that small PRs will most likely not be merged unless they are based on the new structure.

We will hold this P

[2021-02-07 11:10] abdonrd opened #142 "Document how to debug a Strapi project with VSCode"
## Feature request

Should be nice to have an official documentation about how to debug a Strapi project with VSCode.

[2021-02-07 15:02] Braweria opened #106 "[Request]: A Step-By-Step Guide on how to use the Strapi CLI with a self-hosted service, that is NOT part of the popular services"
**Summary**

A Proper guide on how to use the Strapi CLI using
[code]
Specifically WITHOUT the `--quickstart` flag.

**Why is it needed?**

So it can describe every step the user needs to take if they are not using services like Heroku. Currently, there are only good step-by-step tutorials on how to deploy on services like Heroku.

I just tried to see how to deploy it myself, but I can't wrap my h

[2021-02-09 10:47] jorisw opened #143 "strapi.log.debug({ someObject }) logs 'undefined'"
## Bug report

### Describe the bug

`strapi.log.debug()` cannot be used to print objects unless you pass a string as a first argument first.

### Steps to reproduce the behavior

1. Put `strapi.log.debug({works: false})` in your code
2. Run your code
3. See `undefined` printed rather than your passed object
4. Put `strapi.log.debug("", {works: true})` in your code
5. Run your code
6. See your pas

[2021-02-09 11:49] diriy opened #109 "[Request]: How to increase relations depth in strapi API response?"
**Summary**

I use Strapi for building API for my small app. In a model, I have the following entities:

Article, Article Translation, Tag, Tag translation. One Article has Many Article Translations. Each Article Translation has Many Tags. Each Tag has Many Tags translations.

My problem is that when I make a GET-request to Article, I don't receive Tags translations. I suppose they are too deep fo

[2021-02-10 10:01] mancku opened #111 "[Bug]: The lifecycle hooks example crashes"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/concepts/models.html#lifecycle-hooks

**Describe the bug**

Following the [example](https://strapi.io/documentation/developer-docs/latest/concepts/models.html#example-10) on the documentation about how to create a lifecycle hook causes an error.

I added the following code to ./api/user/models/Use

[2021-02-11 16:29] mikaelsslava commented on #105
Does the major restructuring refer to the documentation or Strapi itself? If it is the documentation - can a more detailed one (specifically for policies 🙏) be expected around the beginning of March?

Overall I am glad to hear that Strapi is moving forward! I hope I will be able to make it work for my project, but the lack of documentation and detailed stackoverflow answers on popular questions is

[2021-02-11 19:06] alex-mngt opened #120 "[Bug]: CKEditor doesn't populate with actual data"
**Link to the documentation page or resource**

https://strapi.io/documentation/developer-docs/latest/guides/registering-a-field-in-admin.html#introduction

**Describe the bug**

Using the current documentation, the CKEditor shows up but doesn't populate with the data related to the rich text input it's representing

**Additional context**

Node : 12.20.0
Strapi : 3.4.6

**Suggested improvements o

[2021-02-12 16:19] MattieBelt commented on #111
I guess it's just an old example for à _User_ content-type, not specifically for the 'users_permissions_user' model.

In general I think it is a good example on what Lifecycle hooks could do, but changing this to an example for a _Restaurant_ or something else, is probably less confusing. 👍🏼

[2021-02-12 20:47] mancku commented on #111
@MattieBelt I agree that changing it for something more generic would be a good thing. Something like this, maybe?

### Example

**Path —** `./api/restaurant/models/Restaurant.js`.

[code]

If you think it's ok, I'd be happy to open a PR and fix it.

PS: I noticed that in the [models page](https://strapi.io/documentation/developer-docs/latest/concepts/models.html) there are some examples about res

[2021-02-16 10:19] Exit-Zer0 opened #125 "[Request]: It is recommended to add a README-CN.md"
**Summary**

"docs" folder, README-CN.md

**Why is it needed?**

Adding README-CN.md can make it easier for native Chinese developers to read README.

**Suggested solution(s)**

Step 1. Add a "docs" folder, so that you can add more languages to the README in the future.
Step 2. Add README-CN.md in the "docs" folder.
Step 3. Set a hyperlink in README.md to jump to README-CN.md.

**Related issue(s)/

[2021-02-16 10:22] #125 closed

[2021-02-16 15:03] derrickmehaffy commented on #105
Hi @mikaelsslava eventually there will be a total refactoring of the documentation, currently this is only about the structure. You can find most of the current changes in:

https://github.com/strapi/documentation/pull/89
https://github.com/strapi/documentation/pull/115

[2021-02-16 15:04] derrickmehaffy commented on #120
We are currently planning to modify that documentation to point towards a community maintained package that can be found here: https://github.com/strapi/awesome-strapi#community-plugins

We recommend you use the following CKEditor plugin instead of managing it in a custom implementation. You can find this plugin here: https://github.com/Roslovets-Inc/strapi-plugin-ckeditor5

[2021-02-16 15:04] #120 closed

[2021-02-18 16:39] derrickmehaffy opened #133 "[Bug]: test"
**Link to the documentation page or resource**

test

**Describe the bug**

test

**Additional context**

test

**Suggested improvements or fixes**

test

**Related issue(s)/PR(s)**

test

[2021-02-18 17:46] pwizla commented on #38
Thank you for reporting this :-)

We noticed it & fixed it on our side as well, it's going to be deployed with the forthcoming documentation restructuration.

Closing this issue for now.

[2021-02-18 17:46] #38 closed

[2021-02-19 21:54] derrickmehaffy opened #138 "Clarify endpoint documentation"
Per a user on slack, the following documentation: https://strapi.io/documentation/developer-docs/latest/content-api/api-endpoints.html#update-an-entry is not quite clear if the content/open hours are relations or components.

As we don't support nested relational POST/PUT request, we should clarify this documentation to show those are components.

[2021-02-23 15:35] xluos commented on #93
The same question, I want to create different forms of interaction for the same type of fields. At present, I can only replace components, and cannot define multiple components.

[2021-02-23 15:38] remygendron commented on #143
Just lost 5 hours trying to understand why my code was returning undefined... hehehe Turns out I was strapi.log.info an object. Code was working great! As was said by Sherlock Holmes, when you eliminate every possible causes, what remains must be your broken logger.

[2021-02-25 17:36] MattieBelt commented on #13
The [error-catching guide](https://strapi.io/documentation/developer-docs/latest/guides/error-catching.html) should also be removed when dedicated plugin docs are added. @remidej

[2021-02-25 17:57] pwizla commented on #13
Thanks @MattieBelt !
In the meantime you can have a look at the [README](https://github.com/strapi/strapi/tree/master/packages/strapi-plugin-sentry) and this documentation topic is going to be integrated in the developer docs pretty soon.

[2021-02-28 16:01] MattieBelt commented on #111
Hey @mancku,

Yes I like your example, it would be nice if you could open an PR for it.

I think a small variant in the examples (throughout the whole docs) would be a good thing, to get some different context, but not to much 'subjects'.

[2021-03-01 23:10] MatteoGioioso opened #156 "Cannot load Strapi admin page on sub-folder with Nginx"
**Informations**
- **Node.js version**: 10.14.1
- **NPM version**: 6.4.1
- **Strapi version**: 3.0.0-alpha.23.1
- **Database**: mongodb
- **Operating system**: Windows 10 Pro

**What is the current behavior?**
I am running `next.js` and `strapi.js` together on two separated docker containers with `docker-compose`.
I want Nginx to redirect all the request from `www.mydomain.com/admin` to strapi adm

[2021-03-02 11:13] mattpr opened #183 "strapi docs: sample config for api.js results in broken install"
# Reference/example api config doc:

https://strapi.io/documentation/developer-docs/latest/concepts/configurations.html#api

has: `privateAttributes: ['_v', 'id', 'created_at'],`
This means these attributes will be "[sanitized](https://github.com/strapi/strapi/blob/master/packages/strapi-plugin-upload/controllers/upload/api.js#L21)" out of the returned object.

However `id` attribute is needed on

[2021-03-02 12:20] mattpr commented on #156
Done. https://github.com/strapi/documentation/pull/157

[2021-03-03 14:58] derrickmehaffy opened #160 "Theme Suggestion -"
Make the suggestion of swapping from our current default Vuepress theme to the Hope theme: https://github.com/vuepress-theme-hope/vuepress-theme-hope

With it there are various additional add-on plugins that should make styling and management of the documentation much easier. Documentation for this theme can be found here: https://vuepress-theme-hope.github.io/

Additional plugins for this theme (

[2021-03-03 17:51] PritamSangani opened #161 "[Request]: How to add custom permissions"
### Summary

Currently, there is no documentation for developers to add custom permissions that can be added to Admin user roles.

### Why is it needed?

When I was building a custom plugin, I found it difficult to figure out how to add custom permissions and a section to the `Settings` > `Administration Panel / Roles`  > `Edit Role` page for my plugin.

### Suggested solution(s)

There should be

[2021-03-03 17:52] PritamSangani commented on #161
I figured out how to add custom permissions in the end, so I am happy to tackle writing a draft of this new documentation. But it would be my first time writing documentation for this project and so I would need support in sticking to the structure.

[2021-03-03 18:06] derrickmehaffy opened #162 "[Request]: Document RedHat Operating system"
### Summary

Currently our documentation only offers commands for Ubuntu based linux distributions, as we also support RedHat these should be documented.

### Why is it needed?

RedHat is an operating system that Strapi supports, and is generally used within enterprise environments.

### Suggested solution(s)

Work through documentation to locate Ubuntu based guides and update them to add in speci

[2021-03-04 15:31] haschu opened #164 "[Bug]: Concepts are missing"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/concepts/controllers.html#concept

### Describe the bug

The concepts section is missing in the navigation and search results are leading to a 404 error.

### Additional context

_No response_

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-03-04 15:37] haschu commented on #164
Nevermind... it's now under "Backend Customization". Still, the search result links are leading to a 404 page.

[2021-03-04 15:46] derrickmehaffy commented on #105
closing as freeze has been lifted

[2021-03-04 15:46] #105 closed

[2021-03-04 15:52] pwizla commented on #164
Thank you for submitting this, @haschu! It's indeed under Backend Customization, good catch.

Right now the search bar is broken, seems to rather be an issue about Algolia indexing. We're working on it!
I'm closing this issue if you don't mind :-) Thanks again.

[2021-03-04 15:52] #164 closed

[2021-03-05 11:38] haschu commented on #164
@pwizla yep, thanks for your fast answer :)

[2021-03-05 15:46] creative-ae opened #171 "Tracking Issue - 404 documentation links"
# Global tracking issue
(This was edited by @derrickmehaffy)

We are aware of documentation issues landing at a 404 page, please see the recommendation here: https://github.com/strapi/documentation/issues/171#issuecomment-791559375 until we are able to solve them.

Thanks,
The Strapi Team

---

all documentation links results from google search are going to "page note found" (404 error)

[2021-03-05 19:11] stevenghines opened #172 "[Bug]: Nitpick grammar issue"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/getting-started/introduction.html

### Describe the bug

"Based on a plugin system, Strapi is a flexible CMS which admin panel and API are extensible - and which every part is customizable to match any use case. "

"which admin panel" is a little confusing to read.

### Additional context

_No res

[2021-03-05 21:13] vcoisne opened #173 "[Request]: Update Strapi logo on Installation page"
### Summary

The Strapi logo for the CLI option on the installation page is the old one. We should update it with the new one.

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/installation.html#installation

### Why is it needed?

To be consistent with our Branding.

### Suggested solution(s)

Updated the logo.

### Related issue(s)/PR(s)

_No response_

[2021-03-06 15:04] danielehrhardt commented on #171
![image](https://user-images.githubusercontent.com/19570043/110211158-992ca980-7e95-11eb-9ab5-fea38833b150.png)

https://strapi.io/documentation/developer-docs/latest/concepts/controllers.html#core-controllers

This will also go to 404

[2021-03-06 20:27] mancku commented on #111
Hi @MattieBelt

OK, I'll do that!

Thanks for your insight in the subjects subject ;) I think you're right

[2021-03-08 00:44] tabaktoni opened #179 "[Bug]: API Update Collection Component"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/developer-resources/content-api/content-api.html#update-an-entry

### Describe the bug

After sending PUT http://localhost:1337/building/1 with data
[code]
Insted of creating new notice it overide all existing notices.

### Additional context

By documentation sending this request shoud  add new n

[2021-03-08 00:49] tabaktoni commented on #179
Also here are Collection Building and Its Component Note

[notice.txt](https://github.com/strapi/documentation/files/6098294/notice.txt)
[building.settings.txt](https://github.com/strapi/documentation/files/6098298/building.settings.txt)

[2021-03-08 01:23] tabaktoni opened #180 "API Update Collection Component"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/developer-resources/content-api/content-api.html#update-an-entry

### Describe the bug

After sending PUT http://localhost:1337/building/1 with data
[code]
Insted of creating new notice it overide all existing notices.

### Additional context

By documentation sending this request shoud  add new n

[2021-03-08 14:15] welington-cruz-mjv opened #181 "[Bug]: Migration guide for version v3.5.2 is 404."
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/migration-guide

### Describe the bug

The link for the migration guide returns a 404 error.

### Additional context

_No response_

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-03-08 16:06] pwizla commented on #173
Thank you Victor!
I updated the logo:
![Screenshot 2021-03-08 at 17 05 56](https://user-images.githubusercontent.com/4233866/110347128-987c4a80-8030-11eb-990f-d63986e264c6.png)

Will be live with the next deployment.

[2021-03-08 16:06] #173 closed

[2021-03-08 21:55] derrickmehaffy commented on #161
@PritamSangani the spot you are going to want to put such documentation would be in: https://strapi.io/documentation/developer-docs/latest/development/local-plugins-customization.html

Or in this case: https://github.com/strapi/documentation/blob/main/docs/developer-docs/latest/development/local-plugins-customization.md

Are you familiar with creating a PR?

[2021-03-08 21:57] PritamSangani commented on #161
@derrickmehaffy Thanks 👍🏽 . I am familiar with creating a PR. I'll try and get this done this week

[2021-03-08 23:21] AdrianoCahete commented on #171
Same for when use a third party provider for login:
![image](https://user-images.githubusercontent.com/37474/110394780-bdca8200-804b-11eb-8bc3-eb97bfd5dec4.png)

[code]

[2021-03-10 19:26] flyingonionman opened #188 "[Bug]: Documentation moved to a different page"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/concepts/controllers.html#core-controllers

### Describe the bug

This link is obtained after `npx create-strapi-app my-project --quickstart `

I built my own custom collection and wanted to change its behavior, so I went to the controllers folder and found the original link in post.js.

The defau

[2021-03-10 22:20] derrickmehaffy commented on #171
@AdrianoCahete the new link to the docs is here: https://strapi.io/documentation/developer-docs/latest/development/plugins/users-permissions.html#setting-up-the-server-url

[2021-03-10 22:35] derrickmehaffy commented on #179
@tabaktoni can you submit a PR instead of linking to txt files?

[2021-03-10 22:36] derrickmehaffy commented on #180
Duplicate: https://github.com/strapi/documentation/issues/179

[2021-03-10 22:36] #180 closed

[2021-03-10 22:37] derrickmehaffy commented on #181
Duplicate: https://github.com/strapi/documentation/issues/171

@welington-cruz-mjv the new link is here: https://strapi.io/documentation/developer-docs/latest/update-migration-guides/migration-guides.html#instructions

[2021-03-10 22:42] derrickmehaffy commented on #188
Duplicate: https://github.com/strapi/documentation/issues/171

Hi @flyingonionman the new link is here:
https://strapi.io/documentation/developer-docs/latest/development/backend-customization.html#controllers

[2021-03-10 22:42] #188 closed

[2021-03-10 22:43] #181 closed

[2021-03-11 14:33] MattieBelt commented on #172
Hey @stevenghines,

Feel free to submit an PR for this, you can check out the contribution guide [here](https://github.com/strapi/documentation/blob/main/CONTRIBUTING.md).

_Do note there is an PR to change the text of `CONTRIBUTING.md` #190_

[2021-03-11 17:19] derrickmehaffy opened #192 "test issue"
https://github.com/strapi/documentation/blob/8a5488f743353d5aa8f4a790595ae3a331380df1/docs/package.json#L1-L4

[2021-03-11 17:19] derrickmehaffy commented on #192
https://github.com/strapi/strapi/blob/33552e43b856e5358fd0d7bf9f4c2339bab6dc4b/package.json#L1-L4

[2021-03-16 13:53] brunogonzales opened #204 "[Bug]: Backend instructions for Ecommerce starter template in Strapi blog are duplicates of Frontend instructions"
### Link to the documentation page or resource

https://strapi.io/blog/strapi-starter-nuxt-js-e-commerce

### Describe the bug

The Backend section instructions should be replaced with:
Backend
Create a Strapi project named backend using the e-commerce template:

# Using Yarn
yarn create strapi-app backend --template https://github.com/strapi/strapi-template-ecommerce

# Or using NPM
npx create-st

[2021-03-22 14:41] derrickmehaffy commented on #171
@pwizla @Mcastres had a good idea of modifying the default vuepress 404 page to include a meta redirect that automatically sends the user to the intro page. Similiar to this:

[code]

[2021-03-23 14:06] cipiasentini opened #208 "[Request]: docker vscode debug"
### Summary

I've tried following examples that are on the web for being able to debug docker nodejs projects using vscode, but I was not able to make the breakpoints work. Can we have some kind of documentation for being able to set breakpoints in a strapi project that was created using the docker-compose.yaml configuration?

### Why is it needed?

In order to debug things in a proper manner

###

[2021-03-24 15:37] derrickmehaffy opened #211 "[Request]: More detailed information + examples for population of relation and components"
### Summary

Currently our documentation on population is limited to a handful of lines in the following page:

https://strapi.io/documentation/developer-docs/latest/development/backend-customization.html#core-services

But we provide no information on population of components and the information on population is extremely sparse

### Why is it needed?

General questions asked on our various means

[2021-03-28 21:48] Velka-DEV opened #213 "[Bug]: Using QS to build query as noticed in the doc result on blanks queries"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/developer-resources/content-api/content-api.html#complex-queries

### Describe the bug

When using the code below to build a query, that create a blank query.

[code]

That result in a query like that: https://myurl.com/endpoint?_where=&_where= when in the doc that was expected: /restaurants?_wher

[2021-03-30 23:22] derrickmehaffy opened #216 "[Request]: RBAC Conditionals - Draft & Publish filtering"
### Summary

Currently our RBAC documentation does not contain any information on filtering on a draft state due to sift.js not having a `_null` filter. You can filter for published based on the `published_at` but if the field is null (draft) it's currently not possible.

### Why is it needed?

Common where a role should only be able to see draft entries

### Suggested solution(s)

Work with engin

[2021-03-30 23:31] fodurrr commented on #106
BTW, CLI with npx, installs old versions 3.0.0 something, also `yarn create strapi-app` fails on windows, so actually none of the methods are working :)

[2021-03-31 21:53] derrickmehaffy commented on #106
`npx create-strapi-app@latest my-project`

Without the `@latest` npx will use whatever is the locally cached version to speed things up. You can use any tag or even specific versions.

As for yarn, do you have it installed?

[2021-03-31 22:08] #213 closed

[2021-04-01 03:15] fodurrr commented on #106
@derrickmehaffy Thanks for the quick tip. Yes I have yarn installed I am using yarn and npm regurarly. The point here was to update the docs with more details. I just wanted to quickly try strapi.  None of the method worked as in docs for CLI. I have no time unfortunately to go to the details.

[2021-04-01 20:00] derrickmehaffy commented on #204
@Mcastres if you get a chance

[2021-04-02 18:40] derrickmehaffy opened #218 "[Request]: Document how to handle file "uploads" from the backend through services"
### Summary

We currently have documentation for uploading files from REST/GQL but not internally within the backend. For example automatically fetching provider avatar/gravatars and uploading / attaching the relation to an entry (user model).

Likewise other hooks/providers that could potentially fetch external images and automatically attach them automatically.

### Why is it needed?

Fundamenta

[2021-04-03 01:39] wil92 opened #219 "[Request]: Error with JWT secret after migrate from 3.0.X to 3.1.X"
### Summary

After I migrate from version 3.0.X to version 3.1.X and follow the migrations steps, I got a 403 Forbbiden error on each endpoint when I was log in as a user from the strapi-plugin-users-permissions plugging.

### Why is it needed?

To avoid other users fall into the same error

### Suggested solution(s)

Add to the migration steps from version 3.0.X to 3.1.X, a comment, that if the p

[2021-04-03 08:36] gayratv opened #220 "[Bug]: strapi.notification - not fully described"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/development/local-plugins-customization.html#front-end-development

### Describe the bug

strapi.notification.toggle(config);

config.type - Description
now: success, warning or info

must be
    success: {
    warning: {
    error: {
    info: {

### Additional context

proof:
https://github.com/

[2021-04-06 07:20] soupette commented on #220
Hello!

We are still maintaining the old notification API but it is recommended to use the [new one](https://github.com/strapi/strapi/blob/8858b0e6cbf4ef79090a5ea10f18ee4c86dd0d66/packages/strapi-admin/admin/src/containers/NewNotification/Notification/index.js#L12-L25). With the new API only 3 types are supported:
- success
-  warning
- info

[2021-04-06 11:23] cipiasentini commented on #208
Ok thanks

[2021-04-06 11:23] #208 closed

[2021-04-07 16:12] kevinadhiguna opened #227 "Content-type name with Camel Case does not display in `strapi.services.` (Strapi console)"
## Bug report

### Describe the bug

I want to create a custom controllers in Strapi to get/reach a picture inside my content-type. Hence, I need a kind of `strapi.services.<content-type>.... (to be continued until I can access a picture)`. However, I faced difficulty in finding the documentation of `strapi.services. ...` , `strapi.models. ...`, `strapi.query('<content-type>'). ...` even though I

[2021-04-08 23:10] phmasek opened #226 "[Bug]: All old documentation links are dead"
### Link to the documentation page or resource

https://strapi.io/documentation/v3.x/concepts/policies.html#concept

### Describe the bug

I am looking through the strapi forum and github for getting a better understanding of what resources are available for a developer to use. However, I've found that the majority of the replies with a link to some doc page are broken.

To give an example, I was

[2021-04-09 19:10] derrickmehaffy commented on #226
duplicate: https://github.com/strapi/documentation/issues/171

[2021-04-09 19:10] #226 closed

[2021-04-10 03:37] arps18 commented on #87
The Link to the issue seems broken, is the issue still open to work on?

[2021-04-10 14:37] MattieBelt commented on #87
Hey @arps18,

The link has changed with the documentation restructure, this link should lead you to the typo:
https://strapi.io/documentation/developer-docs/latest/development/backend-customization.html#api-reference
![image](https://user-images.githubusercontent.com/31662805/114273565-d519d800-9a1a-11eb-83d7-18fc4a25d623.png)

So feel free to submit an PR to fix this issue.

[2021-04-12 07:45] #172 closed

[2021-04-12 22:55] derrickmehaffy opened #231 "[Request]: FAQ addition as to why Strapi can't be ran in some serverless environments"
### Summary

Strapi cannot be ran (reliably with a decent amount of performance) in Lambda-type function environments such as Vercel, Netlify, or AWS Lambda.

### Why is it needed?

Many people, both in the community, and as enterprise customers/trial users ask questions on hosting in these environments.

### Suggested solution(s)

Document why Strapi does not work in these environments, mainly re

[2021-04-13 18:16] baermathias opened #232 "Documentation not up to date"
## Bug report

I followed this example in the past to display another date format in the content manager: https://strapi.io/documentation/developer-docs/latest/guides/custom-admin.html#target-the-file-to-update-2,
It used to work, but several versions back things have changed and I get an error now after Strapi update. There is no updated example of this! Links from the documentation are also dead

[2021-04-13 22:16] derrickmehaffy opened #240 "Using the same field name on multiple components in a dynamic zone causes conflict"
## Bug report

### Describe the bug

**Note** Internal TID164

When using dynamic zones, different components cannot have the same field name with different types (or with enums, different values). GraphQL throws an error like:

![image](https://user-images.githubusercontent.com/8593673/114627195-b9584100-9c69-11eb-90d6-2b82cf47db80.png)

### Steps to reproduce the behavior

1. Create a model with

[2021-04-15 11:06] kevinadhiguna commented on #227
Thank you very much @derrickmehaffy , I will try it.

[2021-04-19 11:19] Carduelis opened #239 "[Request]: Multiple Strapi projects/db on the same App Engine"
### Summary

Hello! I'm using GCP as a place when I serve my strapi. It uses App Engine to run itself, and Postres SQL as a database.

The problem here is cost. Every SQL server and App engine will cost around 30 euro per month. Which is unacceptable for a small usage.

### Why is it needed?

My goal is to create multiple web-sites using Strapi as a back-end. I'm using JAMSTACK and vercel as a pla

[2021-04-19 23:24] jacargentina opened #241 "[Request]: Models "increments" option not explained"
### Summary

when using `strapi generate:api model ....` I'm. getting this options:

[code]

### Why is it needed?

I can't find any reference on the "increments" functionality

### Suggested solution(s)

Describe it on the docs!

### Related issue(s)/PR(s)

_No response_

[2021-04-19 23:27] sofiacoder3000 opened #242 "[Bug]:"
### Link to the documentation page or resource

https://github.com/strapi/documentation/blob/main/docs/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.20-to-3.0.0.md

### Describe the bug

In the plugin section
it should say `./config/env/{env}/plugins.js` and not `./config/env/{env}/plugin.js`
Otherwise you cannot customize the plugins for other enviorements li

[2021-04-20 08:50] MattieBelt commented on #242
@sofiacoder3000 thanks for submitting this issue 👍🏼

This should work: https://github.com/strapi/documentation/compare/main...sofiacoder3000:main
![image](https://user-images.githubusercontent.com/31662805/115367104-2cac0680-a1c6-11eb-801a-1d48952dad83.png)

[2021-04-21 15:57] derrickmehaffy commented on #242
@sofiacoder3000 can you please add a title to your issue?

[2021-04-22 13:24] MattieBelt commented on #242
@derrickmehaffy merged in #243.

[2021-04-22 16:31] phripley opened #249 "["BUG"] Broken link to Migration Guide in release emails"
Emails that are sent when there is a new Strapi release include a link to the Migration Guide as follows:

https://strapi.io/documentation/v3.x/migration-guide
redirects to:
https://strapi.io/documentation/developer-docs/latest/migration-guide
which returns a 404 error

My guess is that the intended destination is here:

https://strapi.io/documentation/developer-docs/latest/update-migration-guides

[2021-04-22 19:20] derrickmehaffy commented on #242
closing as merged pr

[2021-04-22 19:20] #242 closed

[2021-04-22 23:54] cjboco opened #250 "3.6.0 Release Notes link to the Migration Guide returns a 404 Page Not Found error."
Just was informed of a new (3.6.0) version release of Strapi. I visited this page:

https://github.com/strapi/strapi/releases/tag/v3.6.0

... and clicked on the "Migration Guide" link and it took me here:

https://strapi.io/documentation/developer-docs/latest/migration-guide

Which has a 404 Page Not Found error on it.

[2021-04-23 08:24] ferlauf opened #251 "["REQUEST"]"
Could you please write the Migration guides between versions 3.4.4 and 3.6.0?

[2021-04-23 09:08] MattieBelt commented on #249
Yes @phripley, that is an automated notification of [the `v3.6` release](https://github.com/strapi/strapi/releases/tag/v3.6.0).

https://strapi.io/documentation/developer-docs/latest/update-migration-guides/migration-guides.html

[2021-04-23 09:12] MattieBelt commented on #251
Hey @ferlauf there are no migration for those steps. following the [general update guide](https://strapi.io/documentation/developer-docs/latest/update-migration-guides/update-version.html) should get you up and running with `v3.6`.

[2021-04-23 09:17] MattieBelt commented on #250
Duplicate of #249

[2021-04-24 01:50] #250 closed

[2021-04-24 09:13] #251 closed

[2021-04-26 16:40] ashishgupta2014 opened #253 "["REQUEST"]"
I am interested to contribute. I would love learn documentation and start delivering

[2021-04-29 21:10] derrickmehaffy commented on #249
Closing as @MattieBelt is correct, there is no migration guide (unless you want to install the new i18n plugin but that's documented here: https://strapi.io/documentation/developer-docs/latest/development/plugins/i18n.html#installation

[2021-04-29 21:10] #249 closed

[2021-04-29 21:12] derrickmehaffy commented on #253
@ashishgupta2014 thank you! do read the contribution guide [here](https://github.com/strapi/documentation/blob/main/CONTRIBUTING.md) and feel free to submit PRs

[2021-04-29 21:12] #253 closed

[2021-05-01 14:48] ashishgupta2014 opened #265 "["REQUEST"]"

[2021-05-03 10:43] WelabEricCheung opened #266 "[Request] Migration guide request from 3.4.4 to 3.5.x and 3.6.x"
https://strapi.io/documentation/developer-docs/latest/update-migration-guides/migration-guides.html
seems the migration guide is stopped from 3.4.x to 3.4.4,
is there any documentation for how to do the migration from 3.4.x to 3.6.x?

thanks you so much !!!!!!

[2021-05-03 10:46] baermathias opened #267 "Deploy admin panel on S3 should be on EC2 instead"
It should be EC2 instead of S3, because S3 is for a completely different context. It is mentioned two times here:
https://strapi.io/documentation/developer-docs/latest/development/admin-customization.html#deployment

should be:

[2021-05-03 13:37] MattieBelt commented on #266
Related/Duplicate of #249

@derrickmehaffy / @pwizla Maybe a small note on https://strapi.io/documentation/developer-docs/latest/update-migration-guides/migration-guides.html#instructions helps out a lot.

"
- There are no migration guides for upgrading to `v3.5` and `v3.6`
- Migration guide from 3.4.x to 3.4.4
- Migration guide from 3.3.x to 3.4.0

"

Although that message will probably need to u

[2021-05-03 13:42] MattieBelt commented on #267
You are able to host the admin panel on a simple cloud storage (like S3), because it is an statically served front-end.
If you are using AWS EC2 (which offers compute power) you are probably running your strapi back-end on it. And it isn't efficient to have an other EC2 instance to only host your static front-end. So this sentence seems to me correct.

[2021-05-04 03:41] markokhman opened #270 "["REQUEST"] AWS S3 configuration docs are missing permissions requirements for the IAM user owning the AWS_ACCESS_KEY"
Hi guys, i've been recently configuring my staging environment and I've created a new user on S3 with programmatic only access and I want to restrict it's access to only one bucket.

I think you need to specify list of permissions, that the AWS_ACCESS_KEY_ID has to have in order for Strapi to function properly. I can only guess now that it will be enough to have read/put/delete permissions, but to

[2021-05-05 10:20] lauriejim commented on #266
Thank you @MattieBelt for this suggestion.

I'm not really in favor of doing an exception for this one.

I would rather add/review a warning OR information box on the top of this page saying clearly that if there is not migration guide, you should do simple version update by following the [UPDATE](https://strapi.io/documentation/developer-docs/latest/update-migration-guides/update-version.html) do

[2021-05-05 11:55] Stun3R opened #274 "["BUG"] SSL not working in PostgreSQL Database configuration"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/configurations.html#database

### Describe the bug

I just noticed that if you want to set SSL options with PostgreSQL database, the `options.ssl` has no effect because it's like bookshelf don't even get this option for PostgreSQL connection.

So this configuration doesn't

[2021-05-09 19:24] SalahAdDin opened #281 "Documentation for PostgreSQL/MySQL/MariaDB is wrong regarding SSL"
## Bug report

At initializing a new project with postgres in a docker stack, we are getting `Error: The server does not support SSL connections`.

### Describe the bug

At running the stack we are looking:
[code]

### Steps to reproduce the behavior

1. Initialize a new project.
2. Setup the docker compose file.
3. Launch the stack.
4. See error

### Expected behavior
We should not see any proble

[2021-05-11 10:00] SalahAdDin opened #290 "PostgreSQL: ERROR: relation "core_store" does not exist at character 13"
## Bug report

At initializing a new project with postgres in a docker stack, we are getting `ERROR:  relation "core_store" does not exist at character 13` from `postgres` container.

### Describe the bug

At running the stack we are looking:
[code]

### Steps to reproduce the behavior

1. Initialize a new project.
2. Setup the docker compose file.
3. Launch the stack.
4. See error.

### Expected

[2021-05-11 10:04] Stun3R commented on #274
Yes totally, I told to @derrickmehaffy the problem & I'll update to docs

[2021-05-11 10:04] #274 closed

[2021-05-11 11:20] rafaell-lycan opened #283 "["REQUEST"] How to change upload path given an entity field?"
Hi all, I'd like to ask you guys how can I organize my assets by giving some context by creating a folder.

When creating a blog post I'll have a cover that is actually optional. How can I create a folder using the same Title/Slug of my Post to store that image? Same for a gallery collection where a product can have many images, how can I create a folder with the same name of the product to store

[2021-05-12 06:22] nononocat commented on #283
I am trying to use strapi to make a software download website these days, and I am also looking for the solution...
Putting all static files in the upload folder does not seem very elegant....
Is there any configuration here？

[2021-05-12 23:31] chahinbo opened #284 "[REQUEST] Missing Docs"
Hello guys,
I have tried to find the list of **policies** provided by the users-permissions plugin, to feed them into my routes config file (api/**/config/routes.json), but I can't find it.
thanks, in advance!

[2021-05-17 16:46] AlexViapiano opened #297 "v3.6.2 - Image cropping no longer works with AWS S3 bucket"
## Bug report

### Describe the bug

I'm using the latest Strapi version 3.6.2 and ever since I starting using AWS S3 bucket as my image upload provider,  the image cropping doesn't work. Once you click the button, I see the X and checkmark, however you can't click and drag the area to be cropped. The whole picture has no fade, but usually with cropping there a dark filter over the area to be crop

[2021-05-25 08:09] leoplct opened #296 "Documentation ["REQUEST"]: Get all translations of an ID"
If I have the collection type content with ids = 1 and locale=en, how can I get all other ids for other locales (fr, de, es) for the same article?

[2021-05-25 08:16] #296 closed

[2021-05-27 22:39] sunsgs opened #301 "How to get facebook informations on login["REQUEST"]"
Hello, I would like to show the user image , birthday and other public info once logged.
Is it possible?

[2021-05-30 02:05] SoloOrchid opened #306 "404 on vercel"
## Bug report

### Describe the bug
when i try to contribute to the pages in the documentation, my pull requests are being handled automatically and vercel gives a 404 on the links it shows.
### Steps to reproduce the behavior

1. Go to 'https://strapi.io/documentation/developer-docs/latest/[any prt of the docs]'
2. Click on 'Improve this page'
3. make some changed and then create a pull request.

[2021-06-01 13:21] derrickmehaffy commented on #306
@SoloOrchid we are aware, there is a missing configuration option as we are planning to change the domain of the docmentation from `strapi.io/documentation` to `docs.strapi.io` and this is causing the 404 error.

We are planning a temporary workaround for this soon, in the mean time you should look at the PR locally as a visual review.

[2021-06-02 20:20] derrickmehaffy commented on #301
Hello, please follow the [issue template](https://raw.githubusercontent.com/strapi/strapi/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md).

A proper issue submission let's us better understand the origin of your bug and therefore help you.

I will reopen your issue when we receive the issue following the template guidelines and properly fill out the template. You can see the template guidelines for b

[2021-06-02 20:20] #301 closed

[2021-06-02 20:21] derrickmehaffy commented on #301
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

[2021-06-04 23:59] Elbarae1921 opened #309 "["BUG"] Weird character in code blocks."
I've noticed there's a strange character in some code blocks in the documentation website. I did search through old issues but found no mention of this.

[example :](https://strapi.io/documentation/developer-docs/latest/development/plugins/users-permissions.html#concept)
![image](https://user-images.githubusercontent.com/44276243/120873191-fa4d4180-c598-11eb-9d24-068f3dd2b429.png)
(and some other

[2021-06-05 00:04] Elbarae1921 commented on #309
#310

[2021-06-07 21:44] vcoisne commented on #231
@pwizla +1 to add to that question to our FAQ as we get a fair amount of questions about it.

[2021-06-10 17:18] ronny35 opened #318 "["REQUEST"] Use mongoose-history-plugin in Strapi"
Hi,

I would use mongoose-history-plugin in Strapi but I found only this documentation : https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/configurations.html#database-orm-customization

But it is not the good way to use this pluging according to this link : https://www.npmjs.com/package/mongoose-history-plugin

Could you help me on this topic ?

Thx.

[2021-06-11 09:18] emahuni opened #319 "["REQUEST"] Polymorphic relations backend usage examples in Queries -> API Reference section"
It looks like polymorphic relations documentation is missing, making the feature less used and laden with unreported bugs.

I have put this on hold for a long time and thought it was time to try and use it as it may now be mature. However, it seems like it is still a long way from perfect and I think the reason is probably documentation.

I am going to be reporting several issues I am getting with

[2021-06-15 14:33] #309 closed

[2021-06-15 19:02] erik-valtechsd opened #324 "Setting up strapi apollo graphQL on AWS"
## Bug report

### Describe the bug
 I followed [this guide](https://strapi.io/blog/build-a-blog-using-nuxt-strapi-and-apollo) to create a Nuxt + Strapi + Apollo GraphQL website and then followed the [strapi guide](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.html) for deploying to AWS.

I now have Strapi running on an aws insta

[2021-06-16 18:11] ronny35 commented on #318
Hello,

Do you have any updates ?

[2021-06-16 22:23] wanbinkimoon opened #325 "Following AWS Deploy from Strapi Doc get Error"
## Bug report

### Describe the bug
Everything went fine till point 6. [Link](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.html#_6-install-pm2-runtime)

Reaching that point I get this error
[code]

Surfing the issues on this repo I added pool options to my `config/database.js` like follows
[code]

A clear and concise description

[2021-06-17 02:15] erik-valtechsd commented on #324
Updating this issue, I am still not able to get it working but I tried a different apollo config which returns a different error. This time I set  `httpEndpoint` as https:
[code]

Which produces this error:
[code]

I also tried to add authentication of my AWS EC2 where my strapi is located but still the same result as above (not sure if this is the correct approach)

[code]

[2021-06-17 15:07] louisremi opened #327 "["BUG"] Instructions to create a docker file are incorrectly formatted"
The instructions to create a Dockerfile ( https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/installation/docker.html#step-1-create-a-docker-compose-yaml-file ) have different tabs for the different database. The tab system is incorrectly formatted and the MongoDB related Dockerfile is always displayed, no matter what tab is selected.

[2021-06-17 16:13] pwizla commented on #327
Thank you for the notice!

It's fixed in #329 and will be deployed soon.

[2021-06-18 08:31] louisremi commented on #327
Great! I'm closing then.
Duplicate of #329

[2021-06-18 08:31] #327 closed

[2021-06-18 12:12] jvolker opened #330 "[Bug]: logo image size incorrect"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/development/admin-customization.html#customization-options

### Describe the bug

[code]

Actual size is: 1138 x 302

### Additional context

_No response_

### Suggested improvements or fixes

Change numbers

### Related issue(s)/PR(s)

_No response_

[2021-06-20 08:26] derrickmehaffy commented on #14
This issue has been mentioned on **Strapi Community Forum**. There might be relevant details there:

https://forum.strapi.io/t/invalid-credentials-for-authenticated-users-via-api-usage/5759/5

[2021-06-24 18:54] Hahlh opened #342 "[Request]: Add Gatsby to the collection of frameworks on the landingpage"
### Summary

Gatsby is one of the most important React frameworks and a huge amount of developers use Strapi with it.
It is often mentioned as a great option if users ask for recommendations.

Strapi.io doesn't yet include Gatsby, which stuck me as worthy of a request.
![image](https://user-images.githubusercontent.com/45669613/123316659-62a29980-d52d-11eb-9a7c-05867d58f0e2.png)

### Why is it nee

[2021-06-25 00:06] vector-man opened #343 "[Request]: .NET Core with Razor Pages Tutorial"
### Summary

I would like you all to add a tutorial for .NET Core with Razor Pages.

### Why is it needed?

There's no .NET Core tutorial that I've found online.

### Suggested solution(s)

 I would like there to be one written.

### Related issue(s)/PR(s)

_No response_

[2021-06-25 18:00] derrickmehaffy commented on #342
This is more so related to the website. @yvesdo   where should we put this?

[2021-06-29 16:24] robbyemmert commented on #14
I figured out the root cause of this issue after about 3 days of debugging:

Check out this file: https://github.com/strapi/strapi/blob/86e0cf0f55d58e714a67cf4daee2e59e39974dd9/packages/strapi-admin/middlewares/auth/index.js

The above middleware runs on every request. It assumes because it can verify your JWT with the admin secret, that you should be an admin, looks up your admin user with your u

[2021-06-30 08:43] yvesdo commented on #342
It's fixed, thanks for the heads-up @derrickmehaffy

[2021-06-30 08:43] #342 closed

[2021-06-30 18:53] dreamtank89 commented on #241
yes please explain about the increments in the options.

[2021-07-01 17:25] egyleader opened #345 "[Bug]: Deploy Strapi app to Google App Engine with mysql database fails"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

### Describe the bug

I am trying to deploy my Strapi app with cloud sql database and I've done the steps in the provided tutorial ,

The problem is when deploying the app with ` "gcp-build": "strapi build"` it completes suc

[2021-07-01 22:03] derrickmehaffy commented on #14
That would be a better question from @alexandrebodin on how best to handle it.

[2021-07-06 21:42] derrickmehaffy commented on #318
As we are planning to remove support for MongoDB within the Strapi v4, no new additions to the documentation will be accepted or created.

Marking as closed, if you want more information on MongoDB please see our blog post: https://strapi.io/blog/mongo-db-support-in-strapi-past-present-and-future

[2021-07-06 21:42] #318 closed

[2021-07-07 11:29] Messa1 commented on #16
You can set height in /themes/sizes.js

`header: {
    height: '10rem',
  },
  leftMenu: {
    height: '10rem',
    width: '30rem',
  },`

![Screenshot 2021-07-07 at 13 22 54](https://user-images.githubusercontent.com/3908658/124751035-76cf9900-df26-11eb-9ca0-9bc448abad17.png)

But I can't find the right place to edit the search form height - also need to check the doc :)

[2021-07-07 17:04] TheRealBarenziah opened #349 "[Request]: Using bookshelfjs community plugins along 'strapi-connector-bookshelf' plugin"
### Summary

Despite bookshelfjs being the "standard" ORM behind Strapi, the documentation about it (in a Strapi context) is very scarce (and [so is SOF](https://stackoverflow.com/search?q=%5Bstrapi%5D+bookshelf+plugin))

For example, the possibility to toy with `bookshelf` object by overriding `./config/functions/bookshelf.js` is almost undocumented (saw it somewhere, but had a hard time finding

[2021-07-07 20:20] derrickmehaffy commented on #349
Hi @TheRealBarenziah indeed your write our ORM specific documentation could be a lot better. I will say it's unlikely we will document this before our v4 release (which should fix the issues you were having in general)

Thank you for the request though!

[2021-07-08 12:24] #266 closed

[2021-07-09 19:03] KevinMallinson opened #359 "[Request]: There is no documentation for supporting how to access current users JWT inside a plugin."
### Summary

I have created a plugin which is accessed via the admin page. That plugin needs to know the JWT of the current user so it can access protected endpoints.

There is no documentation supporting how to do this, and the official guide on how to create a plugin uses a public endpoint instead of a protected one, which is not secure.

This seems like a common use case but it seems it is impo

[2021-07-14 10:59] 1ur11 opened #361 "[Bug]: No Strapi Droplet in DigitalOcean's marketplace"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.html#creating-a-strapi-project

### Describe the bug

Improve documentation for DigitalOcean One-click

On documentation page [DigitalOcean One-click](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/installat

[2021-07-14 11:41] thiha-min-thant commented on #361
+1

[2021-07-14 17:05] derrickmehaffy commented on #361
@1ur11 thank you, we are aware of the issue and are working on it. :)

[2021-07-15 10:03] pwizla commented on #361
Thank you!
A [temporary warning](https://github.com/strapi/documentation/pull/363) in our documentation is going to be deployed soon.

[2021-07-18 15:06] ganeshkbhat opened #366 "[Request]: How do I ingest a Openapi.yml or openapi.json file to autocreate the models"
### Summary

How do I ingest a Openapi.yml or openapi.json file to autocreate the models

### Why is it needed?

Development ease

### Suggested solution(s)

Is it possible with the current versions

### Related issue(s)/PR(s)

NA

[2021-07-19 20:32] derrickmehaffy commented on #366
Hi @ganeshkbhat at the moment it's not possible in current versions. I don't believe we plan to support this anytime in the near future so it might be better to create a feature request on the primary repo: https://github.com/strapi/strapi

Going to set this as closed as we won't do this in the short to mid term for documentation.

[2021-07-19 20:32] #366 closed

[2021-07-20 12:09] Aylay commented on #361
Hello,

Any ideas why there is not anymore the one-click button on DO ?

Thanks

[2021-07-20 12:11] pwizla commented on #361
Hello @Aylay
We are still waiting for a DigitalOcean reply on the topic.
In the meantime, we've added a [warning in the documentation](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/installation/digitalocean-one-click.html)

[2021-07-20 12:13] Aylay commented on #361
@pwizla Is there any doc to install Strapi on DO (or any server) without using the one-click button ?

[2021-07-20 12:15] pwizla commented on #361
@Aylay Indeed, the best way to use Strapi is to first create your project locally and then deploy it on a server. We have [deployment guides](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment.html#hosting-provider-guides) for this, and two of them use DigitalOcean. Hope this helps :-)

[2021-07-20 12:17] 1ur11 commented on #361
Hi, you can check documentation:

[DigitalOcean App Platform](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.html)

[DigitalOcean Droplets](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.html#digitalocean-app-platform)

[2021-07-20 12:18] Aylay commented on #361
Very good !!!

Thanks @pwizla & @1ur11

[2021-07-28 14:21] Aylay commented on #361
@pwizla  @1ur11 ,

I didn't succeed to deploy strapi on DO with the deployment guides for DO Droplets.
I should maybe try with App Platform.

Any news for the marketplace ?

Thanks

[2021-07-30 07:47] WebKieth opened #373 "[Request]: cant find information about ORM methods"
### Summary

I try to code my own list of subscribers and want to save emails from form to database.
strapi.models.subscribers.find - not a function
strapi.models.subscribers.create - not a function
🤬
I dont know what to do

### Why is it needed?

For a programmatically usage of database tables

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-07-30 10:14] gustave-ploix commented on #373
Hi !

At whitch level of your backend do you have those methods ? controller ? services ?

[2021-07-30 11:34] WebKieth commented on #373
Hello, I reconfigure controller for subscribing.
I found the solution, but from stackoverflow post.
[code]
Works properly

[2021-08-02 23:56] sg-code commented on #361
@Aylay

It appears that deployment via DigitalOcean App Platform consistently fails as well. This was tested using a fresh `create-strapi-app` project, deployed following [Strapi's documentation regarding App Platform](https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.html), and using DO's Dev Database option.

The err

[2021-08-03 07:13] Aylay commented on #361
@sg-code

Thank you for the explanation.

I hope everything will be back to normal soon
I, like others, have to deploy many Strapi new websites with DO very soon :)

[2021-08-03 10:39] dompascal opened #377 "[Bug]: `Page not found` on GCP App Engine (Standard)"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

### Describe the bug

When accessing the `/documentation` page  from the Strapi admin panel on a GCP App Engine (Standard) instance, I am seeing the below errors in GCP logs and `Page not found` with a 404 error.

`error Err

[2021-08-10 10:42] Melanie12 opened #379 "[Request]: Add GTM in the head of Documentation page"
### Summary

Hello,

Following the discussion we had to improve the Quick Starter Guide for our users, I'll need to have our Google Tag manager on the documentation pages to track more usage metrics (anonymous ones).
Here is the code
in **head**

in **body**

Also since Google Analytics is already installed in Google Tag Manager, we should be able to remove the already installed GA tag. Let me kno

[2021-08-11 12:57] #379 closed

[2021-08-11 14:01] #306 closed

[2021-08-12 17:21] bisubus commented on #37
FWIW, Strapi uses `@sindresorhus/slugify` and not `slugify`, as the documentation currently suggests.

[2021-08-13 18:47] ryan-reach commented on #345
I was having a similar issue. @egyleader try using `socketPath` instead of `host` in your database config, as suggested here https://stackoverflow.com/questions/67393076/strapi-cloud-sql-for-mysql-on-google-app-engine-server-wasnt-able-to-start

Beyond that, I was facing an issue when trying to use `config/env/production/database.js` to separate my production and development config. I was getting

[2021-08-14 11:06] divji opened #386 "[Request]: Sequelize ORM support"
### Summary

Do you can add other ORM support?
Why is locked to Bookshelf?

### Why is it needed?

I can't find any info how to add Sequelize ORM to my project

### Suggested solution(s)

No

### Related issue(s)/PR(s)

No

[2021-08-16 15:46] derrickmehaffy commented on #386
Not related to docs and we won't be allowing for Sequelize support in the monorepo since we are unifying all database support into Bookshelf/Knex.

[2021-08-16 15:46] #386 closed

[2021-08-18 14:05] riliwanrabo opened #391 "Provide APIs to create Content Types and Collections programatically"
## Feature request

### Please describe your feature request

- [ ] **To make Strapi more flexible, the Ability to create Content Types and collections is very needed**

### Summary

Quick summary what's this feature request about.

### Why is it needed?

I use a laravel backend, I need to be able to create a Content-Type and collection dynamically without visiting the backend fir Strapi

### Sugg

[2021-08-30 14:35] suyaser opened #399 "[Request]: what is the difference between using auth0 as a provider and overriding permission.js"
### Summary

what is the difference between using auth0 as a provider and overriding permission.js to allow authorized users from auth0 to use a private API?
doesn't allowing auth0 as a provider do this?
or I'm confusing the two?

### Why is it needed?

I'm confused if I need to override the permission plugin to use auth0 for authorization

### Suggested solution(s)

_No response_

### Related iss

[2021-08-30 21:34] derrickmehaffy commented on #399
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

[2021-08-30 21:34] #399 closed

[2021-09-07 13:37] petr-hajek opened #407 "[Request]: Mention the S3 bucket needs to be public-read in strapi-provider-upload-aws-s3"
### Summary

S3 Bucket needs to be public-read due to https://github.com/strapi/strapi/issues/5868
This should be mentioned in the docs for strapi-provider-upload-aws-s3

### Why is it needed?

The error Access denied which I got when the bucket was not public is not very verbose so this would help me rather than having to search among all issues.

### Suggested solution(s)

_No response_

### Rel

[2021-09-13 17:09] MichalNemec opened #415 "[Bug]: pluginsForWhichToGenerateDoc not generating"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/development/plugins/documentation.html#settings

### Describe the bug

``Hello, i have completely fresh strapi installed at latest version now 3.6.8
i activated documentation plugin and installed this plugin: https://github.com/VirtusLab-Open-Source/strapi-plugin-comments

i added inside config
[c

[2021-09-20 07:35] Melanie12 opened #422 "[Bug]: To fix implementation of GTM"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/getting-started/quick-start.html#_1-install-strapi-and-create-a-new-project

### Describe the bug

Hello @derrickmehaffy
cc @yvesdo

Since August 12th we have observed an important decrease in some documentation pageviews. @yvesdo and I are investigating.
@yves noticed this commit was on August 11

[2021-09-22 16:10] Utkarshn10 opened #423 "[Bug]: Updations required in the Documentation"
### Link to the documentation page or resource

https://strapi.io/blog/nextjs-react-hooks-strapi-restaurants-2

### Describe the bug

In the documentation it says "Navigate to the Settings then Roles & Permissions." while on http://localhost:1337/admin/settings/users-permissions/roles it actually is "Users and Permission".

### Additional context

![Screenshot (54)](https://user-images.githubuserc

[2021-09-24 18:25] mrabusalah commented on #361
Any updates ?
Still can't deploy one-click on DO

[2021-09-28 02:15] cjboco opened #428 "[Bug]: Following AWS Deploy from Strapi Doc get Error on Deploy From Github"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/amazon-aws.html

### Describe the bug

When you attempt to clone your github project, GitHub no longer accepts username and password for authentication. You will get an error that says:

`fatal: Authentication failed for 'https://github.com/[YOUR P

[2021-09-29 01:53] sg-code commented on #361
@mrabusalah

The main issue here seems to be that when initially trying to deploy an App Platform application, DO does not provision the Dev Database until the application has been successfully deployed. This creates a catch-22 situation, where in order for the application to successfully deploy, you need a running database. Furthermore, if you are using a static site generating frontend (Gatsby,

[2021-09-29 08:12] pwizla commented on #361
Thank you so much for the very detailed explanations, @sg-code ! ❤️
Strapi's Documentation Team is fully focused on documenting Strapi v4 for now, but we'll handle the deployment guides topic in the upcoming months, and this will definitely help :-)

[2021-10-01 08:31] beji opened #432 "[Bug]: The Google App Engine deployment example doesn't work"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

### Describe the bug

The issue was introduced in https://github.com/strapi/documentation/pull/392. The fix to replace `host` with `socketPath` is only correct if `mysql` is used. For postgres it still needs to be `host`.

#

[2021-10-04 15:35] Melanie12 commented on #422
@derrickmehaffy friendly reminder for your back to school long list :-)

[2021-10-04 22:05] derrickmehaffy commented on #422
@Melanie12 how critical is this and can we just revert to using GA until we get the new docs out and figure out how to properly implement GTM in the new docs?

[2021-10-05 05:29] Melanie12 commented on #422
It will help to know if that's the cause of the drop in documentation pageviews.
The dates of the drop and the implementation are the same.

[2021-10-05 18:34] derrickmehaffy commented on #422
Then yes, the GTM migration was not successful and I am unable to validate anything as:

1) I don't believe I even have access to GTM dashboard
2) I don't know how GTM functions (I've only ever messed with GA and it has been a while)

[2021-10-11 16:37] nwazuo opened #439 "[Bug]: Unclear instruction for enabling frontend development mode for admin panel customization"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/development/admin-customization.html#customization-options

### Describe the bug

The part of the documentation that describes how to enable the front-end development mode for admin panel customization tripped me up(isn't very clear).

`strapi develop --watch-admin`

The documentation assumes that

[2021-10-11 17:05] derrickmehaffy commented on #439
This issue has been mentioned on **Strapi Community Forum**. There might be relevant details there:

https://forum.strapi.io/t/watch-admin-flag-for-admin-panel-customization-does-not-work/11903/4

[2021-10-11 17:10] nwazuo commented on #439
@derrickmehaffy Yes. I started that thread because it wasn't clear from the docs that the solution highlighted should be the case. This issue is advocacy to edit the docs to clear that confusion.

I could create a PR to this respect(if that's okay) to update the docs.

[2021-10-12 04:26] braulio-balanza commented on #345
I think that the problem might be the node version. Can you try changing the node version to 12?

[2021-10-12 15:41] braulio-balanza opened #443 "[Request]: Cloud Run Hosting Guide"
### Summary

Hello, I would be interested in in writing a guide for hosting Strapi with Cloud Run. Would that be something that you guys are interested in? What requirements do I need to follow?

### Why is it needed?

Cloud Run is a much more [sustainable serverless alternative than App Engine](https://dev.to/pcraig3/cloud-run-vs-app-engine-a-head-to-head-comparison-using-facts-and-science-1225).

[2021-10-13 20:36] derrickmehaffy opened #444 "NOTICE: Community Pull Request Change Freeze (Excluding v4 PRs)"
## This Change Freeze **does not** affect anyone contributing to the v4 documentation branches, only v3 documentation.

---

Hey everyone,

In order to make the process of merging the v4 documentation changes into the master branch over the next month or so we are placing a community pull request change freeze into effect. Starting today (October 13th 2021) until **November 30th, 2021** any non-cr

[2021-10-17 16:30] neizod opened #448 "[Request]: How to run existing project???"
### Summary

In the quick start guide <https://strapi.io/documentation/developer-docs/latest/getting-started/quick-start.html>, it only say about how to INSTALL and RUN a new project. But NOT telling how to RUN an existing project.

### Why is it needed?

Do I need to install the project and start from scratch EVERY TIME after I close the terminal???

### Suggested solution(s)

Keep in mind that n

[2021-10-20 17:26] sanjeetCoder opened #454 "[Bug]: Forgot password and reset password issue"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/development/plugins/users-permissions.html#login

### Describe the bug

Dear Team, I have gone through the documentation but getting issues while trying to reset password. I tried all the possibilities which has been mentioned below

(1) URL : http://localhost:1337/auth/forgot-password
post reques

[2021-10-25 09:34] kiril-daskalov opened #456 "[Request]: How to update Strapi v3 to Strapi v4 beta?"
### Summary

Not sure how to update my current Strapi v3 to the current v4 beta?

### Why is it needed?

How to update Strapi v3 to the current v4 beta?

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-10-30 15:46] amjadniazi48 opened #469 "Cannot populate articles with category name"
## Bug report

### Describe the bug

I can populate  articles with categories using the following url
`http://localhost:1337/api/articles?populate=*`

But if I use following request as mentioned in the documentation it shows the internal server error

`http://localhost:1337/api/articles?populate=category.name`

### Expected behavior

It should give me the category name only with articles

### Scre

[2021-10-31 16:13] ScottAgirs opened #473 "[V4] (Plugin) User Permissions Lifecycles not triggering"
## Bug report

### Describe the bug

Adding lifecycle hooks with [this guide](https://docs-next.strapi.io/developer-docs/latest/development/backend-customization/models.html#declarative-and-programmatic-usage), worked for Collection Types, but didn't get triggered on Plugin User-Permissions `strapi-app/src/extensions/users-permissions/content-types/user/lifecycles.js`

### Screenshots

<img width=

[2021-11-02 23:28] derrickmehaffy commented on #473
@pwizla I don't know if this is already in the plan to document, if we can't make it for stable that's fine just so long as it's on our radar.

[2021-11-06 19:37] lijovijayan opened #476 "[Request]: Documentaion of folder structure, application integration and setup for V4 (for contributors)"
### Summary

Hello Team,

I would like to work with the V4 `admin pannel` and `design system` as a contributor. Unfortunately, I couldn't find any documentation about the folder structure, application integration, and setup for development. Proper documentation will be helpful and easy for contributors to a quick start with the development.

### Why is it needed?

- It is difficult for a new devel

[2021-11-08 21:28] derrickmehaffy commented on #476
@pwizla I believe the expansion team have something planned on this right?

[2021-11-09 08:18] pwizla commented on #476
@derrickmehaffy Not sure but if this has to do with admin panel and/or design system, it's best to ask @soupette :-)

[2021-11-12 17:44] rajaomariajaona opened #498 "Add note to body middleware, and write GraphQL body parser docs"
## Bug report

### Describe the bug
 The request returns 413 Payload too large error when make graphql mutation with large String value (with base64)

### Steps to reproduce the behavior
- Create in content-builder an entity
- Activate graphql
- make mutation request with huge string value more than 1mb (with base64 for example)

### Expected behavior
The request should return 200 and the mutation

[2021-11-17 08:26] biapar opened #489 "How to active Apple SSO?"
### Summary

How to active Apple SSO? I don't see it into the list providers.

### Why is it needed?

It's needed if we use other providers ( see Apple rules ).

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-11-17 08:41] biapar opened #490 "[Request]: How to show which user insert/delete/update the data?"
### Summary

How to show which user insert/delete/update the data?

### Why is it needed?

To filter data or know which users put and manage data.

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-11-24 15:56] dpoerschke opened #501 "[Request]: Add more details to "Adding a new provider (to your project)""
### Summary

**My scenario:**
I try to use KeyCloak together with Strapi. When the user calls my web application, he is redirected to the login page of KeyCloak, logs in and then returns to the web application. Some functions in the web application call Strapi services. My goal is to have Strapi then accept these calls, since the user has already previously authenticated to KeyCloak.
I assume that

[2021-11-26 01:32] Cpaczek opened #503 "[Request]: Add more info on how to access configuration"
### Summary

in this section of the new docs https://docs-next.strapi.io/developer-docs/latest/developer-resources/plugin-api-reference/server.html#configuration

there is information about how to setup default config variables however no info on how to access it

### Why is it needed?

Had look into the source code to figure it out.

### Suggested solution(s)

strapi.config.get('plugin.<your-plug

[2021-11-28 16:11] keith24 opened #505 "[Bug]: count controller is not async in docs"
### Link to the documentation page or resource

https://strapi.io/documentation/developer-docs/latest/development/backend-customization.html#controllers (`count` tab)

https://github.com/strapi/documentation/blob/484d86b38dbacd4138bae5a1ef0720cbaace868c/docs/developer-docs/latest/development/backend-customization.md?plain=1#L399

### Describe the bug

\- [the docs](https://strapi.io/documentation/

[2021-11-30 10:04] JonasJW opened #516 "[Bug]: Policy docs are not up to date with project structure"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/policies.html#api-policies

### Describe the bug

The docs claim that api policies belong to `./src/api/restaurant/policies/is-admin.js` but it actually belongs to `./src/api/restaurant/config/policies/is-admin.js.`.

Same problem with the routes file, it is not `./src/api

[2021-11-30 14:19] adalidda opened #520 "Why MongoDB is not available in Strapi V4 ?"
### Summary

We used MongoDB with Strapi V3. I notice that in Strapi V4's documentation, there are no mention of MongoDB anymore.

### Why is it needed?

Need MongoDB in Strapi V4 in order to migrate from Strapi V3 to Strapi V4.

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-11-30 15:04] itsmatteomanf commented on #520
They already answered this in the blog.

https://strapi.io/blog/mongo-db-support-in-strapi-past-present-and-future

First-party support has been dropped, there will be an "official" plugin to connect, but not immediately at release.

[2021-11-30 18:26] derrickmehaffy commented on #520
Closing as the comment by @itsmatteomanf is correct, we won't maintain a MongoDB connector in v4. If MongoDB (the team) builds one that is up to them.

[2021-11-30 18:26] #520 closed

[2021-11-30 18:27] derrickmehaffy commented on #516
Those paths you provided are for the v3 not the v4. The current docs are for the v4 version.

Docs for the v3 version are here: https://docs-v3.strapi.io

[2021-11-30 18:27] #516 closed

[2021-11-30 18:28] derrickmehaffy commented on #505
No longer applies to the v4, marking as closed

[2021-11-30 18:28] #505 closed

[2021-11-30 18:43] biapar opened #527 "[Request]: User Permission : Misssing AZURE AD/Microsoft authentication"
### Summary

AZURE AD and Microsoft Auth

### Why is it needed?

Missing documentazione for Microsoft Authentication and AZURE AD/B2C

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-11-30 18:45] biapar opened #528 "[Request]: Apple SSO"
### Summary

Missing documentation about Apple SSO.

### Why is it needed?

Missing documentation about Apple SSO.

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-11-30 18:47] keith24 commented on #505
So this is not true?

[2021-11-30 18:49] Cpaczek opened #529 "[Request]: Include more references to other documentation"
### Summary

I posted this in the discord but thought I would post it here as well just so it doesn't get lost

I personally think that Strapi v4 is a massive improvement over v3 but the docs for v4 is only 90% there. What I found is most of the content does exist however there are some gaps. For example there is no documentation on how you are supposed to get configuration variables so that was a

[2021-12-01 06:03] yingyeung575 opened #532 "[Bug]: Recover of all old v3 documentation"
### Link to the documentation page or resource

https://docs-v3.strapi.io/documentation/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.html#mongodb-installation

### Describe the bug

Hi all,

I have been using strapi for v3 for application~
While I need to reference some of the v3 documentation, I find that many of the old pages are gone,
even for the new v3 link,

[2021-12-01 09:01] BasixKOR opened #533 "[Request]: Upload plugin page should be updated for v4"
### Summary

I noticed quite a lot of explanation in [the upload page](https://docs.strapi.io/developer-docs/latest/plugins/upload.html#configuration) was based on v3 without any notice. i.e. provider documentation doesn't use newer `@strapi/` providers, suggested `plugins.js` doesn't work etc.

### Why is it needed?

This issue should be self-explanatory.

### Suggested solution(s)

The page shou

[2021-12-01 10:43] pwizla commented on #529
Thank you very much for this valuable feedback! 🤗 We'll use your suggestions to iterate. 🙂

[2021-12-01 10:55] pwizla commented on #532
Hi
You can still find the MongoDB installation guide here: https://docs-v3.strapi.io/developer-docs/latest/setup-deployment-guides/configurations/databases/mongodb.html 🙂

[2021-12-01 11:11] yingyeung575 commented on #532
Thanks got it! Just let you know if you use the search function on the menu bar, it will return a wrong URL path~

E.g. Search for controller in the search bar will return wrong error page, but actually you can find it on the left menu~

[2021-12-01 11:15] pwizla commented on #532
Yes, I'm sorry you're having issues with the search 😕
We know it's broken for now, this is an issue related to Algolia (a 3rd party search provider that indexes our pages) and we're working hard to fix it :-)

In the meantime it's indeed best to use the Table Of Content on the left.

[2021-12-01 11:22] violabg opened #534 "[Request]: access to knex functions"
### Summary

in v3 it was possible to use

`const knex = strapi.connections.default;`

is this still available?

### Why is it needed?

I want to migrate to v4, but I need to have some custom queries and can't find anything related to this topic on the new documentation.

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-12-01 11:38] violabg opened #535 "[Request]: customising graphQl"
### Summary

in backend-customization/

https://docs.strapi.io/developer-docs/latest/development/backend-customization/controllers.html#adding-a-new-controller

you have this example:

[code]

how to can we do the same for GraphQL? both adding a new method (exampleAction) and extending existing ones like find and findMany

### Why is it needed?

I want to use GraphQL but can't figure it out, how t

[2021-12-01 13:28] derrickmehaffy commented on #532
Marking as closed

[2021-12-01 13:28] #532 closed

[2021-12-01 13:55] derrickmehaffy commented on #505
What I'm saying is there is no more count controller in the v4

[2021-12-01 16:52] jorisw commented on #498
This doesn't work for us:

![image](https://user-images.githubusercontent.com/30017/144277666-6e796be3-e123-4809-8410-8e7fecb0341a.png)

![image](https://user-images.githubusercontent.com/30017/144277693-90a34fb1-fb79-4842-99d3-c504aba56ec2.png)

[2021-12-01 19:26] atlmtw opened #540 "[Bug]: Strapi Provider Upload documentation update for 4.0.0"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/upload.html#using-a-provider

### Describe the bug

After the 4.0.0 update, it appears there's a mismatch in documentation on the site as opposed to one of the readmes I located about the aws s3 uploader.

in the ./config/plugins.js
it should be:

`
upload: {
 config: {
   provider:
 }
}
`

Current

[2021-12-02 08:24] violabg commented on #534
I found a way to do it

`const knex = strapi.db.connection;`

would be nice to add it to the docs

[2021-12-02 14:29] CaeCur opened #543 "[Bug]: Plugin Development documentation for Content-Types causes server issues"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/developer-resources/plugin-api-reference/server.html#content-types

### Describe the bug

Following along with the examples and instructions used to create Content-Types during plugin development causes the following error message:
[code]

### Additional context

I am testing the new plugin development pro

[2021-12-02 17:36] hrdunn commented on #540
@atlmtw Sorry I'm a little confused, are you saying an example of the S3 provider should look like this
[code]

[2021-12-02 18:42] atlmtw commented on #540
Yep! While scouring through Strapi's repo I saw an updated readme for the aws provider and it did this. And it worked for me too.

[2021-12-02 18:56] ChiKaLiO opened #547 "[Request]: Upgrading Major Version"
### Summary

Hello, i've been excited to upgradez my project from 3.6 to 4.0 but there was no documentation.. i can create a new project and migrate all my data but that's weird no ?

### Why is it needed?

So we can upgrade.. even if it's not possible, would be good to mention  that..

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-12-02 22:34] hrdunn commented on #540
@atlmtw awesome thank you, I can confirm that is how the docs should be written as well to make S3 Upload work. Not sure of the process to get that added.

I did run into another issue of the image not being displayed on the backend once uploaded, did you encounter that as well? On my bucket, everything is set to public and I can view the image if I open the link but I get the following console er

[2021-12-02 22:36] atlmtw commented on #540
Yeah I ran into that too. You have to change the CSP for Strapi.

This how my middleware.js looks under .config
`
module.exports = ({env}) => [
  'strapi::errors',
  {
    name: 'strapi::security',
    config: {
      contentSecurityPolicy: {
        directives: {
          'script-src': ["'self'", "'unsafe-inline'", 'cdn.jsdelivr.net'],
          'img-src': ["'self'", 'data:', 'cdn.jsdelivr.net',

[2021-12-02 22:44] hrdunn commented on #540
@atlmtw that makes sense. Since I was just using the S3 bucket my `img-src` directive was

[code]

[2021-12-02 23:18] MattieBelt commented on #547
Hey @ChiKaLiO, it is something the team will work on soon, checkout this notice and this community announcement (discord) from @derrickmehaffy that explains the situation:

https://github.com/strapi/strapi/issues/11726

https://discord.com/channels/811989166782021633/811989167357689918/915278772561924136

[2021-12-02 23:19] derrickmehaffy commented on #547
Exactly as Mattie said, gonna close this as it's not really an issue.

[2021-12-02 23:19] #547 closed

[2021-12-03 08:57] WojtekHerisz opened #551 "[Bug]: V4 - Wrong API route for authentication in docs"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/users-permissions.html#login

### Describe the bug

According to https://github.com/strapi/strapi/issues/11756 there is a bug in documentation which says that authentiaction routes are "/auth/local" but it should be "/api/auth/local.

### Additional context

_No response_

### Suggested improvement

[2021-12-03 14:17] Fierce-Cat opened #563 "Cannot deploy Strapi v4 to Google App Engine with the Old Guide"
## Bug report

### Describe the bug

Based on the existing guide: https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html
An error occurred when deploying Strapi to App Engine in GCP:
`Error: ENOENT: no such file or directory, mkdir '/workspace/database/migrations'`

### Steps to reproduce the behavior

1. Follow the process in the tuto

[2021-12-03 16:01] #533 closed

[2021-12-03 17:54] derrickmehaffy commented on #551
Fixed in https://github.com/strapi/documentation/pull/550

[2021-12-03 17:54] #551 closed

[2021-12-03 18:23] derrickmehaffy commented on #540
fixed in https://github.com/strapi/documentation/pull/536

[2021-12-03 18:23] #540 closed

[2021-12-03 22:03] atlmtw opened #555 "[Bug]: Documentation for Plugin Extension Interface Development Not Clear"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/plugins-extension.html#within-the-extensions-folder

### Describe the bug

![image](https://user-images.githubusercontent.com/15266711/144678276-6984d60a-6870-4833-b065-7c4365eabb42.png)

This is my current project structure for extensions. According to the documentation it states one way to ex

[2021-12-05 12:58] sushilbalami opened #562 "Not able to run node server.js"
[details="System Information"]
- **Strapi Version: v4**:
- **Operating System: Windows**:
- **Database: Mysql**:
- **Node Version: 14**:
- **NPM Version: latest**:
- **Yarn Version: latest**:
[/details]

hello

[code]
this is not working on v4
what would be can we do  to start strapi from node

---

According to: https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment.html#

[2021-12-06 14:47] dev-horacebg opened #567 "[Bug]: Migration guide 3.0.0.beta.20 to 3.0.0 does not result in a successfully updated project"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/migration-guide-beta.20-to-3.0.0.html

### Describe the bug

Following the steps to go from Strapi version `3.0.0.beta20` to `3.0.0` does not result in a successfully updated Strapi project.

Worth noting that I've tried the exact steps twice on separate machines an

[2021-12-06 19:34] mattf96s opened #569 "[Request]: Creating relational data in a single query"
### Summary

Show how to create an entry and relational data in one go.
Something along the lines of the following:
`await strapi.db.query('plugin::users-permissions.user').create({
        data: {
          email,
          username,
          profile: {
             firstName
          }
        }
      })`

### Why is it needed?

I asked on the discord channel and Derrick asked me to make a req

[2021-12-07 09:57] lauriejim opened #571 "[Request]: How to use Entity service or Query engine for plugins"
### Summary

In the Entity and Query service documentation, there are no explanations on the usage of plugins models.

There is only documentation for the API (api::article.article) but what for plugins?

### Why is it needed?

I would like to use the entity service or query engine to fetch of create upload file entries in the database.

### Suggested solution(s)

Add an example in the entity serv

[2021-12-07 12:31] sushilbalami commented on #562
need to use scoped import
const strapi = require("@strapi/strapi);
not
const strapi = require("strapi);

[2021-12-07 12:32] #562 closed

[2021-12-07 16:53] kibblerz opened #572 "[Request]: V4 documentation lacks examples for creating custom GraphQL Mutations and Queries"
### Summary

I recently transitioned some of our sites to V4, which is a massive improvement imo. Though I noticed that there was no examples of custom GraphQL Mutations in the Documentation. Not quite sure how this is meant to be done.

The Queries resolver documentation also seems a bit lacking. The example in the docs shows a function called resolve(), with no parameters passed in and only retu

[2021-12-08 09:52] LeBenLeBen opened #576 "[Bug]: V3 docs search return a 404 for all pages"
### Link to the documentation page or resource

https://docs-v3.strapi.io/developer-docs/latest/getting-started/introduction.html

### Describe the bug

Whatever you search in the v3 docs (https://docs-v3.strapi.io/) leads to a 404 page.

The target URLs when selecting a search result is `https://docs-v3.strapi.io/documentation/developer-docs/...` but it shouldn’t include the `documentation` part.

[2021-12-08 14:24] Luny-S opened #578 "[Request]: V4 More extensive Entity Service CRUD documentation"
### Summary

I would like to request an extension to Entiy Service CRUD documentation as it only contains simple examples. I'd propose adding examples of using components and related components for each method. It should also contain information (or link to i18n doc) how to handle content-types with i18n feature.

### Why is it needed?

I was creating a seeder for few content-types in my project w

[2021-12-08 17:55] IHIutch opened #581 "[Request]: How to fetch post by slug like NextJS blog email in Strapi v4"
### Summary

The existing docs show this [routes.json](https://github.com/strapi/strapi-template-blog/blob/master/template/api/category/config/routes.json) file and an update to the post's [controller](https://github.com/strapi/strapi-template-blog/blob/master/template/api/category/controllers/category.js)

This doesn't seem to work in v4, as I'm never able to get the `slug` as a param.

### Why i

[2021-12-09 04:55] Cpaczek opened #584 "[Bug]: Example in TS instead of JS"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#declarative-and-programmatic-usage

### Describe the bug

THe example is in TS instead of JS

### Additional context

_No response_

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-12-09 05:40] derrickmehaffy commented on #567
Hi @dev-horacebg those guides are quite old and we no longer support nor maintain them, they only exist in the documentation as a fragment from a few years ago.

My suggestion is you generate a fresh project and start to migrate your models and settings to that instead as you have quite a few more migration guides and it will likely take you quite a bit longer to migrate step by step instead of ju

[2021-12-09 05:40] #567 closed

[2021-12-10 19:37] derrickmehaffy commented on #576
fixed in: https://github.com/strapi/documentation/commit/0dc087cb7b9a2e9844642a15203a93bb74b9f781

[2021-12-10 19:37] #576 closed

[2021-12-10 19:42] derrickmehaffy commented on #584
This is not TS, it's normal JS. Closing

[2021-12-10 19:42] #584 closed

[2021-12-12 11:50] brianegan opened #590 "[Bug]: No swagger or openapi.json"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/documentation.html#swagger-json-and-openapi-json-files

### Describe the bug

This documentation appears to be stale. I was testing Strapi for a new project because I read the documentation claiming that Strapi produces a swagger.json file. Sadly, after configuring some collections, it seems the do

[2021-12-12 23:15] UlisesTorrella opened #592 "[Bug]: Strapi documentation hangs on Brave Browser"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/controllers.html

### Describe the bug

In brave if you enter the documentation through https://strapi.io/ there's no problem. But if you arrive from a link **from google** to: [introduction](https://docs.strapi.io/developer-docs/latest/getting-started/introduction.html) o

[2021-12-13 02:05] derrickmehaffy commented on #592
@UlisesTorrella do you hit the same issue if you visit a link like this:

https://documentation-git-fix-graphqlconfig-strapijs.vercel.app/

[2021-12-13 12:52] Nebras-othman opened #594 "[Bug]: Error when building using quick start request"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/getting-started/quick-start.html#_1-install-strapi-and-create-a-new-project

### Describe the bug

I am getting this erro when trying to start a new project using the quick start when webpack building :
Error: Can't resolve '@strapi/design-system/themes' in '/Users/user/Desktop/projects/my-project/.cache/a

[2021-12-13 13:04] UlisesTorrella commented on #592
Yes

[2021-12-13 14:41] derrickmehaffy commented on #592
Hmmm I'm not sure this is something we can "fix" as other browsers are handling this fine and those 304 requests are pulling cached resources.

We use vercel for hosting which automatic5 handles the cache of files.

[2021-12-13 20:20] kadlinobit commented on #535
+1
I am constantly trying to ask about this on Discord and Strapi forum, but I'm always left with no response.
In v3 it was pretty straightforward - graphQL queries and mutations were resolved using controllers by default, so all you had to do was to customize the controller.

[2021-12-14 07:22] smoothdvd opened #596 "[Bug]: schema.json examples in relation section should be in json format, not javascript."
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#model-attributes

### Describe the bug

schema.json examples in relation section is written with javascript

### Additional context

_No response_

### Suggested improvements or fixes

schema.json examples in relation section should be written in json format

#

[2021-12-14 12:15] Galileon-venta opened #597 "[Bug]: Generated full_documentation.json not compatible with openapi-generator"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/documentation.html#file-structure

### Describe the bug

The generated full_documentation.json is missing some descriptions and content fields to be compatible with openapi-generator (https://openapi-generator.tech);

### Additional context

-

### Suggested improvements or fixes

Fix the generatio

[2021-12-15 22:33] kodeli-lab opened #600 "strapi v4 missing Create is owner policy documentation"
### Summary

Hi,
The new strapi v4 documentation is missing how to implement author by default in code. the new doc still reference the v3 apply author by default.

https://docs.strapi.io/developer-docs/latest/guides/is-owner.html

### Why is it needed?

strapi v4 app crash when you try to implement Create is owner policy

### Suggested solution(s)

Please work on the documentation for this becaus

[2021-12-16 10:06] derrickmehaffy commented on #535
This issue has been mentioned on **Strapi Community Forum**. There might be relevant details there:

https://forum.strapi.io/t/are-graphql-queries-supposed-to-trigger-controller-actions-in-strapi-v4/13474/3

[2021-12-16 13:27] kadlinobit opened #601 "[Request]: Missing core action examples in controllers / services customization docs"
### Summary

Current examples for customizing **controllers** and **services** are only showing how to call the core actions for each `findOne()`, `find()`, `update()`, `create()` and `delete()` actions, such as:
[code]
That is definitely good to know, but I am lacking the code of all the core actions (for both controllers and services) in case I need to somehow rewrite them, or just understand ho

[2021-12-20 16:07] El-Devoper opened #605 "[Bug]: Extending core controllers: Collection type example not working"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/controllers.html#extending-core-controllers

### Describe the bug

Hello,
I tried to extend a core controller as described in the docs:

[code]

even if I only copy & paste, without changing anything I get the following error:
TypeError: (intermediate value).find is not a

[2021-12-21 06:35] aungkyawkyawsoe opened #608 "[Request]: How to create localize entry from code"
### Summary

How to implement **Strapi with Localization to Create an Entry** from Programmatically or Code.

### Why is it needed?

To create multiple locale for a document or row.

### Related issue(s)/PR(s)
https://forum.strapi.io/t/how-to-create-localized-entries-from-code/4759

[2021-12-22 00:30] UlisesTorrella commented on #592
Idk what changed, but it's working now. At least for me. So I'm closing this issue.

[2021-12-22 00:30] #592 closed

[2021-12-22 11:34] riohifi opened #613 "[Bug]: extensions/users-permissions/config/security.json"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/users-permissions.html#jwt-configuration

### Describe the bug

jwt expiresIn doesnot work. 4.01 version. default 30Day stay

### Additional context

_No response_

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_No response_

[2021-12-22 19:47] Buro26-Vincent opened #617 "[Bug]: server.js file wrong require('strapi') in example"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment.html#_2-launch-the-server

### Describe the bug

The current example shows:
[code]

The `require('strapi')` should be upgraded to current dependency name.

### Additional context

_No response_

### Suggested improvements or fixes

Example should be:
[code]

### Related i

[2021-12-23 04:35] abolkog opened #624 "JWT Configuration `expiresIn` not respected"
## Bug report

### Describe the bug

Changing the default JWT expire date to a new value is not respected and the JWT is issued with the default 30 days validity

### Steps to reproduce the behavior

1. Create a new file `./src/extensions/users-permissions/config/security.json`
2. Add the JWT `expiresIn` configuration
[code]
3. Save the changes, issue a new token by hitting the `http://localhost:1

[2021-12-23 08:59] KonradLinkowski opened #618 "[Bug]: Using axios or fetch in Angular is an antipattern"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/developer-resources/content-api/integrations/angular.html

### Describe the bug

In the docs, you encourage users to use **axios** or **fetch** in **Angular** which is not common practice and can be misleading to users.

Angular has a built-in HTTP client service that should be used to make HTTP requests.

[2021-12-27 12:32] marco910 opened #622 "[Request]: How to use Internationalization plugin"
### Summary

I'm using the internationalization plugin on my Strapi site and had some issue enabling the plugin and working with it on custom types.

### Why is it needed?

- How to enable the plugin
- How to add locales
- How to work with internationalization on custom types
- How to query API (REST and GraphQL) on custom types with internationalization enabled

### Suggested solution(s)

_No res

[2021-12-27 16:02] derrickmehaffy commented on #624
Transfered this to the documentation repo to be fixed

[2021-12-29 00:03] Kagigz opened #630 "[Bug]: GCP Deployment documentation issues"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

### Describe the bug

Following the GCP deployment documentation does not allow for a correct deployment.

First issue is the .gcloudignore file which leads to this error:
[code]

Even when removing app.yaml from the gcloudignore fil

[2021-12-29 00:09] Kagigz commented on #630
Ok my bad, just saw that Macs M1 are not supported!
Not deleting this just in case someone else doesn't understand what's happening - be sure the read all the [deployment pre-requisites](https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment.html).

[2021-12-29 00:09] #630 closed

[2021-12-29 10:25] larbish opened #635 "strapi.db is undefined in lifecycles.js file"
## Bug report

### Describe the bug

When trying to use lifecycles event with the database layer API as described [here in the doc](https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#declarative-and-programmatic-usage), `strapi.db` is `undefined`.

NB: I  'm using this syntaxe because I want to use the query `state` to share state between beforeXXX and after

[2021-12-29 13:41] vladblindu opened #631 "[Bug]: Plugin policies access - documentation is incorect or misiing"
### Link to the documentation page or resource

https://strapi.gitee.io/documentation/v3.x/concepts/policies.html#concept

### Describe the bug

Thank you for this amazing project.

Documentation states that to register a policy in a custom plugin the function should be placed in `src/[plugin-name]/server/config/policies/[policy-name].js `and should be registered in the `[plugin-name]/server/route

[2021-12-29 14:38] mitarkrivokapic commented on #581
Hi, I saw the title because I had the same problem "How to fetch post by slug .." in v4.
Maybe this is the solution to your problem.

Try adding this to the fetch method at the end of your api:

"<YOUR_ROUTE>?filters[SLUG_PROP][$eq]=YOUR_SLUG_VALUE"

Resource: https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/rest/filtering-locale-publication.html#filtering

[2021-12-29 17:20] philippone commented on #581
Hi @mitarkrivokapic,

I guess that's a good workaround but not the same.
The response is still a collection but I would expect a single entry of the collection.

Unfortunately the [guide for slug system](https://docs.strapi.io/developer-docs/latest/guides/slug.html) is not updated for v4.

[2022-01-02 15:34] russell-davis commented on #613
Just ran into this myself using v4.0.2.

`extensions/users-permissions/config/security.json` doesn't seem to work anymore, but modifying the 'users-permissions' plugin via `config/plugins.js` worked as expected. See issue #624 for details.

[2022-01-02 20:11] f1sle opened #690 "[Strapi V4] Cron tasks do not follow the timing rules"
### System

- Node.js version: v14.17.6
- NPM version: 7.21.1
- Strapi version: 4.0.0
- Database: Postgresql 14
- Operating system: macOS

### Describe the bug
Cron tasks do not follow the timing rules and start every minute.

### Steps to reproduce the behavior

1. I create a file 'cron-tasks.js' in a config folder of a project with the following contents:
![image](https://user-images.githubuserc

[2022-01-03 08:17] Pallavi-KS opened #634 "Facing same issue as I have to modify the name of content type and its related fields names like DB field, Api name. **Mainly Singular name and Plural name.**"
Facing same issue as I have to modify the name of content type and its related fields names like DB field, Api name. **Mainly Singular name and Plural name.**
I was able to change the collection name by doing rename in DB(Using Postgres) , and changing "collectionName" to connect with same.
 This end me with having error saying
**Error: The key of the content-type should be the same as its singula

[2022-01-03 12:08] derrickmehaffy commented on #631
Your not using our documentation, I don't know where these gitee links come from but it's not from us. The only documentation we have is:

v4 docs: https://docs.strapi.io
v3 docs: https://docs-v3.strapi.io

If the issue exists in this documentation then I can reopen.

[2022-01-03 12:08] #631 closed

[2022-01-03 12:13] derrickmehaffy commented on #613
duplicate of https://github.com/strapi/documentation/issues/624

[2022-01-03 12:13] #613 closed

[2022-01-03 12:43] vladblindu commented on #631
[From the pointed ouit docs:](https://docs.strapi.io/developer-docs/latest/development/backend-customization/policies.html)
![plugin-definition](https://user-images.githubusercontent.com/46263775/147930489-6cfee0f9-6835-465d-b6b7-d8258f8cc57a.png)
After this there's an example of the isAuthenticated policy exposed by User-Permission plugin:
![Screenshot 2022-01-03 at 14 31 18](https://user-images.

[2022-01-03 12:45] vladblindu commented on #631
And by the way `strapi generate plugin` does not create a policies directory, so you should create it manually.

[2022-01-03 12:51] derrickmehaffy commented on #631
The CLI is generating stuff in the wrong location: https://github.com/strapi/strapi/pull/12042

[2022-01-03 13:31] vladblindu commented on #631
Ok. This is probably one side of the problem. But still there's no valid example in the docs.

[2022-01-03 13:59] derrickmehaffy commented on #631
it would be the exact same as users-permissions. You can use `yarn strapi policies:list` to give you the UID you need to use in a routes file:

![image](https://user-images.githubusercontent.com/8593673/147939189-baab756c-895d-4453-b321-547074bd3860.png)

[2022-01-03 15:08] vladblindu commented on #631
You are probably right, but stating that the policy has to reside in the [plugin-name]/server/policies foldering and a few line below, displaying an example of a plugin that doesn't comply to the rule is, at least, missleading.
For instance, I am trying to write a ClickUp plugin for strapi and the way it's specified in the docs doesn't work.
Below is the file tree of my project.
![Screenshot 2022-

[2022-01-03 16:47] derrickmehaffy commented on #631
It's probably best to not have this Convo in a GitHub issue. I'm happy to help where I can but I don't really see this as a documentation "bug" we are missing some plugin development docs no question and our team is already talking about how best to handle it (I was just sitting in a meeting today listening to them discuss it)

If you want to hop on our Discord or our forum, these might be better

[2022-01-03 17:31] vladblindu commented on #631
Thank you very much for your time.
I'll switch to the discord channel.

[2022-01-03 21:54] jalal246 commented on #630
@Kagigz i don't understand how this issue related may be related to the Mac M1.  I have the same issue and it works when removing app.yaml from gitignore and gcloudignore

[2022-01-03 22:02] jalal246 commented on #345
have the same problem with postgres:

[code]

I dont exactly what's wrong, it just gives me  `password authentication failed for user "admin"
error: password authentication` when trying `yarn develop`

[2022-01-03 22:10] jalal246 commented on #563
hey @Fierce-Cat , are you able to run it locally with `yarn develop`? keeps giving me this error: ` error: connect ENOENT /cloudsql/foo-bar-336917:us-central1:foobar.s.PGSQL.5432
Error: connect ENOENT /cloudsql/foo-bar-336917:us-central1:foobar/.s.PGSQL.5432
    at PipeConnectWrap.afterConnect [as oncomplete] (net.js:1146:16)` Also i kept the new changes for v4

[code]

[2022-01-04 10:45] larbish commented on #635
Hello @derrickmehaffy, why did you move this issue in `documentation` ? Do i need to change something to make it works ?

[2022-01-04 13:13] AhmadrezaPRO commented on #600
After so much headache i made it work for me! my project is simple tho. but the basics should be the same. I hope it helps you and other people. this code works but i made it work with 10 hour trial and error! so feel free to change it in your way and make it better:

`
'use strict';

/**
 *  event controller
 */

const {createCoreController} = require('@strapi/strapi').factories;

// module.expor

[2022-01-04 16:12] derrickmehaffy commented on #635
Because this isn't how lifecycles work, the subscription side of things shouldn't be done in this file, those are designed to be used elsewhere and TBH I have no idea where.

[2022-01-04 16:32] derrickmehaffy commented on #600
I would honestly suggest using either policies or route middlewares and not overrideing the controllers.

Once we get around to refactoring this guide, this is what we -should- do. The controller method is from strapi v3 beta times and is very outdated.

[2022-01-04 16:48] derrickmehaffy commented on #635
state is a feature that's coming, it's documented but the code for it isn't actually there yet.

@alexandrebodin / @JabStrapi any ETA on the lifecycles state from the devexp squad?

[2022-01-05 09:47] aggieSzulcDornach opened #642 "Strapi-helper-plugin incompatible"
Hi. We're trying to overwrite wysiwyg editor in strapi v4. We're using your tutorial of how to do it but there is one problem. In order to use MediaLib component we have to have strapi-helper-plugin installed but it appears to be incompatible with node 16.

Are you planning to update strapi-helper-plugin. Or is there any suggested workaround?

Any help will be appeciated!

[2022-01-05 13:02] tablufc88 commented on #563
Having trouble with this too during migrating from v3 to v4 & deploying to app engine. Using same config as above, but the DB just isn't connecting & the build is failing

@jalal246 I was able to get it running locally using the public IP address. The socket is just for app engine

[2022-01-05 13:50] davidparys commented on #600
I've created a global policy and started calling it in `./src/index.js` which looks like

[code]

The policy is called correctly (this works for graphQL). But I can't figure a way out to return only the owners blobs only, in v3 there was a `ctx.body` where we could just filter stuff out, but here I can't seem to find it.

My Policy so far
[code]

[2022-01-07 01:34] smoothdvd opened #643 "[Bug]: How to add a new provider in users-permissions plugin in Strapi V4？Document of "Adding a new provider" is not update for Strapi V4."
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/users-permissions.html#adding-a-new-provider-to-your-project

### Describe the bug

Document for v4 is not update: https://docs.strapi.io/developer-docs/latest/plugins/users-permissions.html#adding-a-new-provider-to-your-project

### Additional context

_No response_

### Suggested improvements or

[2022-01-07 01:37] smoothdvd opened #644 "[Request]:How to add a new provider in users-permissions plugin in Strapi V4？Document of "Adding a new provider" is not update for Strapi V4."
### Summary

How to add a new provider in users-permissions plugin in Strapi V4

### Why is it needed?

Document for v4 is not update: https://docs.strapi.io/developer-docs/latest/plugins/users-permissions.html#adding-a-new-provider-to-your-project

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2022-01-07 01:37] #643 closed

[2022-01-08 07:39] reev-create commented on #563
Hey instead of 'host' it should be 'socketPath'  like the following :

[2022-01-08 08:03] Hanuman2001 commented on #600
Thanks bro it really helped a lot !!

[2022-01-08 12:21] jalal246 commented on #563
@reev-create thanks for the reply. I've got this error when using `socketPath`
[code]

[2022-01-08 19:56] rowild opened #646 "[Bug]: Documentation for strapi v4 – Chapter "Installing from CLI" still says max Node version must be 14"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/installation/cli.html

### Describe the bug

The documentation says: "only LTS versions are supported (v12 and v14)."

If I am not mistaken this is not true for strapi v4, which allows to use Node v16.

### Additional context

If that is correct, I'd be happy to provide a PR.

### S

[2022-01-10 13:56] Nekkiton commented on #456
@derrickmehaffy good day! Is there any news regarding v3->v4 migration docs? thanks

[2022-01-10 14:44] leoikeh99 commented on #600
Thanks, this worked seamlessly for me, and i'm guessing we are taking the same nextjs course (just guessing), thanks a lot

[2022-01-10 20:41] derrickmehaffy commented on #456
We are in the planning phase starting this week and are syncing with the other teams. It will be done in 3 parts:

- Plugin migration
- Code migration
- Data migration

No ETAs on the 3 parts but they will follow that order in terms of release date. All are scheduled to be done before the end of Q1 at most assuming we have no road-blockers.

[2022-01-10 21:46] derrickmehaffy commented on #646
This is intentional until we confirm the bugs with v16 are solved without yarn.

[2022-01-10 22:08] rowild commented on #646
@derrickmehaffy Ah, ok, understood! Thanks for the hint!

I had this console message today:

[code]

That seems to be related to Stripe, though. I thought I mention it anyway.
(For me it would be totally all right if this issue gets closed.)

[2022-01-10 22:20] derrickmehaffy commented on #646
Yeah we technically support node 16/npm 8 so long as you are also using yarn. without yarn there is some build errors.

We just don't advertise it yet.

[2022-01-11 02:42] dellysoul opened #650 "[Bug]: Ecommerce Stripe Tutorial navigation doesn't work"
### Link to the documentation page or resource

https://strapi.io/blog/cooking-a-deliveroo-clone-with-nuxt-vue-js-graphql-strapi-and-stripe-setup-part-1-7

### Describe the bug

1. Go to link in documentation
2. Click on the link at the bottom of the page, currently: ```🍔 In the next section, you will learn how to display the list of restaurants: https://blog.strapi.io/cooking-a-deliveroo-clone-wi

[2022-01-12 21:35] J-rayX commented on #646
I agree with @derrickmehaffy, v4 doesn't complete the installation of dependencies except you have yarn running on the machine.

[2022-01-13 11:11] safwendr opened #652 "[Request]: Strapi IsOwner Documentation deprecated"
### Summary

Hello Strapi team,
Please can you add a documentation, tutorial or a guide  to show us how to do "isOwner" because the existing one for now is deprecated.
I want to know for example: how an authenticated user fetch the only posts related to him, how to assign a created post to him, how to edit and delete the only posts he created.

### Why is it needed?

This is a crucial for developi

[2022-01-16 16:20] rowild opened #655 "[Request]: show whether v3 or v4 is active"
### Summary

It is currently not distinguishable which version of the documentation is open. Sometimes links found on Google that relate to a version 3 topic seem to be redirected to a v4 document (e.g. some parts of authentication). This is only clear when somebody already knows that v4 brings along the /api/ prefix, but that's about it.

### Why is it needed?

The chance that readers do not find

[2022-01-17 12:52] akcyp opened #660 "[v4] Server host config not applied on admin panel when starting the app"
## Bug report

### Describe the bug

I'm trying to develop strapi app on WSL2, so I needed to specify an ip where the application should be exposed (not on localhost).

### Steps to reproduce the behavior

1. Create strapi project on WSL2
2. Modify `./config/server.js`
[code]
3. Run `yarn start`
![image](https://user-images.githubusercontent.com/67923777/149771531-6eea02a9-f9ca-4685-a152-529da6244

[2022-01-17 13:26] mariokandut opened #657 "[Bug]: Nginx config in subfolder split is invalid"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/optional-software/nginx-proxy.html#nginx-virtual-host

### Describe the bug

The settings for NGINX subfolder split are incorrect. Nginx doesn't allow same location used twice.

`
...
# Static Root
    location / {
        root /var/www/html;
    }

    # Proxy Config

[2022-01-18 22:09] derrickmehaffy commented on #624
surprised this isn't documented either
adding it now

[2022-01-18 23:30] derrickmehaffy commented on #657
Yup your right, I completely missed this while I was writing it

[2022-01-19 08:42] pwizla commented on #655
Hi @rowild , thank you for the suggestion!
We'll probably go for different logos for v3 and v4.
I'll keep you posted.

[2022-01-20 19:12] rowild opened #666 "[NO Bug]: v3 tutorials works also with v4"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.html

### Describe the bug

This is actually a NO BUG report.

The mentioned documentation says that it might be outdated with Strapi v4. But I just worked through it, and the explanations how Strapi has to be deployed to Heroku, are totally correct

[2022-01-20 22:24] derrickmehaffy commented on #666
Thank you @rowild can you submit a PR to remove the warning? Thanks! :)

[2022-01-21 19:22] vcoisne opened #667 "[Request]: How to write your own Strapi provider"
### Summary

As far as I know, there is no guide to creating a Strapi provider in the documentation.

### Why is it needed?

I think that would really encourage technology partners to create providers and thus add value to the Strapi ecosystem

### Suggested solution(s)

Something similar to https://oramind.com/develop-strapi-upload-provider/

### Related issue(s)/PR(s)

_No response_

[2022-01-22 08:50] rowild commented on #666
@derrickmehaffy Thank you for you feedback!

I provided a PR here: https://github.com/strapi/documentation/pull/668
For the moment I left it as a draft, because I am confused about the document structure: There is no h2. The document headings jump from h1 directly to h3. Is that on purpose? Or should I fix that since I am already on it?

[2022-01-22 20:42] nextrapi commented on #667
Hi, could you tell me an example of a custom provider that you would want to see a plugin for? It would be great if it has a free/trial setup so I can write an article on it!

[2022-01-23 16:16] MaRo99382 opened #671 "[Bug]: Cannot find module strapi from tests/helpers/strapi.js"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/guides/unit-testing.html#install-test-tools

### Describe the bug

When following the documentation on how to setup unit testing with a strapi instance, I get the following error when running `npm run test`:
![image](https://user-images.githubusercontent.com/80778765/150687569-adbb6371-bb8a-4541-a5f3-e3e57

[2022-01-24 00:29] ioannidesalex commented on #652
It's kind of strange that v4 is a breaking change and the documentation is still outdated..

[2022-01-24 13:32] wagneraraujo commented on #600
Hello friends,
please help me.
I could not return the data created by each logged in user.
Where can I be wrong?

`'use strict';

/**
 *  pessoalfinanca controller
 */

const { createCoreController } = require('@strapi/strapi').factories;

module.exports = createCoreController('api::pessoalfinanca.pessoalfinanca', ({strapi}) =>({
    async create(ctx) {
        let entity;
        ctx.request.body

[2022-01-24 21:28] derrickmehaffy commented on #666
That's probably not intended, you can fix them and one of the tech writers will validate the writing side anyway.

[2022-01-25 02:00] jeremybradbury commented on #600
Thanks for this @Kunalgoel9!

Since my use case slightly varied, I moved the filter to the find, so users can only see data they created, this filter is then called again through `this.find()` for deletes and updates.

[code]

I am trying this and it doesn't work at all with the GraphQL plugin and it doesn't filter anything, likely because it's in a RESTful Controller.

I think this partly why @de

[2022-01-26 00:44] jeremybradbury commented on #600
@davidparys I tried to make your solution work, it was the closest I've come to success.

Here is the problem as I see it:

1. Controllers don't work with GraphQL
1. User relations are stripped from the user object in auth
1. There's no clear way to re-attach them cleanly

The solution seems to be a clean blacklist & whitelist option (like a checkbox in the admin panel) to include objects we want

[2022-01-26 10:45] #624 closed

[2022-01-26 11:03] pwizla commented on #666
The documentation PR has been approved, thanks a lot @rowild.
I'm closing this issue.

[2022-01-26 11:03] #666 closed

[2022-01-26 13:47] zeddotes commented on #624
I'm not surprised at all; Strapi documentation lacks in multiple areas.

[2022-01-26 19:26] pwizla commented on #655
Thank you again for the feedback, @rowild !

Our documentation websites now feature distinct logos, and links also use different colors (purple for v3, blue for v4).

[2022-01-26 19:26] #655 closed

[2022-01-26 19:28] rowild commented on #655
@pwizla Excellent! I like them very much! Thank you so much!

[2022-01-26 23:47] jeremybradbury commented on #600
So after playing with Lifecycle events... I see the example code on that page looks incomplete, especially the second file using `strapi` with no import or definition, and shows TypeScript annotations inside .js named files. So it seems it was never placed into a working IDE before publishing it.

But what I also see is that we no longer have access to the user's data in this place, so there is no

[2022-01-27 13:41] smoothdvd opened #683 "[Bug]: Missing option "useJoinTable" in Model attributes #Relations document"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#relations

### Describe the bug

Model attributes #Relations has a option named: "useJoinTable" but not mentioned in document.

### Additional context

_No response_

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_No response_

[2022-01-27 14:55] kasonde opened #685 "[Bug]: Slightly misleading plugin configuration option"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/configurations/optional/plugins.html#plugins-configuration

### Describe the bug

Currently when enabling a plugin, as the CLI suggests after generation, it is a requirement that one specifies the path to the plugin they are trying to enable. In the docs, the config option is set as

[2022-01-27 15:11] #685 closed

[2022-01-27 15:51] #594 closed

[2022-01-27 17:24] prabureddy commented on #634
Same issue for me

[2022-01-27 21:57] derrickmehaffy commented on #600
@jeremybradbury

I'm just kinda catching myself up on this issue thread, usually I'd advise this level and depth of discussion on our forum or discord and not in github issues.

This is normal as you don't need to import or require in the backend for usage with `strapi`. It's a Koa thing.

---

I would always recommend using route policies and middlewares for something like this and never any deep

[2022-01-27 23:02] jeremybradbury commented on #600
@derrickmehaffy how can i help?

I found this as a core feature on the roadmap since 2018, for v3, for which there was no doc solution for it, which no longer works it only gives me the ability to complain, not offer to help or place a bounty: https://portal.productboard.com/strapi/1-roadmap/c/44-data-ownership

I am happy to go at a problem, in any language or environment, if someone can point me

[2022-01-27 23:06] derrickmehaffy commented on #600
We simply haven't had the time to adjust the guide in the docs for v4 as it's quite low priority given the other issues in the U&P plugin right now.

I don't have suggestions right now as I myself am swamped with other things.

[2022-01-27 23:21] jeremybradbury commented on #600
Can I help you add a bounty system to your roadmap?

This way ppl can put money down on features that (mostly) maintainers can get paid for features that are the most important, and open source devs can be motivated to learn the internals to fix something, possibly become another maintainer by helping with the smaller, unhandled bounties.

I see myself in both categories, wanting to pay bounty on

[2022-01-27 23:55] derrickmehaffy commented on #600
We don't know bounty systems for feature requests, bugs, or security related stuff.

Ideally we internally need to be the primary source of security related fixes but some in the community do tend to help out such as @iicdii (especially lately on some of the U&P problems) but we don't like introducing the money side of things in there.

[2022-01-28 00:07] derrickmehaffy commented on #634
This isn't a documentation issue, it's a code one. Renaming a collection in the admin doesn't actually rename it, just changes the visual in the admin.

Should create a feature request on https://github.com/strapi/strapi

[2022-01-28 00:07] #634 closed

[2022-01-28 01:24] jeremybradbury commented on #600
Cool... well if you ever do want some help. Even volunteer help, don't be afraid to ask those clearly offering you help.

You presented the lack of spare time and the overwhelming workload. I offered to help & solution that allows us to create supply and demand over features, in a transparent way (like crypto projects).

I'm just trying to offer some simple/common solutions along with presenting m

[2022-01-28 11:25] Eli-Nathan opened #687 "[V4 DOCS REQUEST]: V4 Docs JWT validation plugin policy"
### Summary

https://docs.strapi.io/developer-docs/latest/guides/jwt-validation.html#write-our-own-logic

The docs around doing custom validation on a jwt with a thrid party (Auth0) look like theyre written with v3 plugin policy setup.

I can't figure out how I'd add a similar thing with the new v4 policy folder structure and syntax.

### Why is it needed?

I'm trying to migrate to v4 but i'm unab

[2022-01-28 14:37] hucancode commented on #345
As of 28 Jan 2022, database config mentioned here is not correct.
https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/google-app-engine.html

Original
[code]
`host` should be `socketPath`, correct configuration would be like:
[code]

[2022-01-28 14:55] magnusrodseth opened #689 "[Bug]: Unit testing documentation"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/guides/unit-testing.html#install-test-tools

### Describe the bug

The guide is definitely not up to date to Strapi v4.

In `./tests/helpers/strapi.js`, I noticed a couple of required changes. `instance.app.use()` is no longer a method. Furthermore, `instance.router` is not defined either. I believe it has

[2022-01-28 17:54] derrickmehaffy commented on #600
Trust me we do want it, but to layout the context also requires a lot of time too. We are trying to open source more of our internal processes (starting by open sourcing our handbook: https://handbook.strapi.io) but it takes time and our team is still really small.

Soon I hope we can get to this but higher priority tasks are eating up time. Hopefully I can count on you in the future.

[2022-01-30 23:27] nohehf opened #699 "[Bug]: Order and pagination developer docs examples not working."
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/entity-service/order-pagination.html

### Describe the bug

The currently provided examples on the order and pagination developer docs are not working.

### Additional context

_No response_

### Suggested improvements or fixes

I've opened a PR that fix the issu

[2022-01-31 16:30] samura commented on #635
So, this documentation does not work. How do we achieve this same result?

[2022-01-31 21:42] derrickmehaffy commented on #635
There is a pull request to add this feature: https://github.com/strapi/strapi/pull/12203

[2022-02-03 10:25] Oleg-Bogatyrev commented on #456
Hi. Did you have a chance to finish migration from 3 to 4 documentation ?

[2022-02-03 17:46] derrickmehaffy commented on #456
It's work in progress right now

[2022-02-04 03:46] lordzpipo opened #706 "[Request]: List of admin panel restful api using?"
### Summary

Planning to restructure the default admin panel provided by Strapi, to enhance / add in new feature based on usage.
But after explore the documentation, found out it's not listed the restful api used by admin panel.

### Why is it needed?

Currently the documentation on the web, just showing admin panel layout api for customize the admin panel layout.
But for admin login / add new adm

[2022-02-06 10:12] user3470 opened #707 "[Request]: Please provide Developer Example"
### Summary

V3 Create was extremely simple. Just provide object with data

V4 is a nightmare, not a single thing that worked previously is working now.

From Content-Type.js
![image](https://user-images.githubusercontent.com/72688421/152676119-08e2d286-8bdf-4c7b-a5ad-7c560243f32a.png)

This is very confusing. Sorry to say!

### Why is it needed?

Clear examples of how to implement
* find
* findOn

[2022-02-06 10:19] user3470 commented on #707
![image](https://user-images.githubusercontent.com/72688421/152676375-06bdb887-c237-4dd6-9765-92382412899b.png)
Someone prove me wrong, where in the docs does it say, on create there should be a data key

[2022-02-07 09:09] lauriejim commented on #667
Hello @vcoisne
Thanks for this suggestion.

The provider concept is related to only some plugins, the Upload, and Email plugins.
- [Upload plugin docs](https://docs.strapi.io/developer-docs/latest/plugins/upload.htm)
- [Email plugin docs](https://docs.strapi.io/developer-docs/latest/plugins/email.html)

Inside both plugin documentation, you will find a `Create a provider` section.
This part of the

[2022-02-07 10:19] Aregver opened #708 "[Bug]: Override Provider"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/plugins/users-permissions.html#providers

### Describe the bug

I tried to overwrite the provider.js. I have copied the provider.js file from node_modules to extensions->user_permissions->services->provider.js. In the getProfile function I added the following parameter to the Discord provider in the callba

[2022-02-08 02:15] smoothdvd commented on #644
I write a tutorial https://smoothdvd.medium.com/add-a-customize-users-permissions-provider-for-strapi-v4-6aa78c642977, can I add it to document?

[2022-02-09 10:00] joemags-apps commented on #707
How do you do ```find``` in V4

[2022-02-10 15:53] derweili commented on #644
@smoothdvd I'm also currently working on implementing a custom provider.

You tutorial got me one step further than the outdated docs. Thank You!!!

But it's still not working. When trying to authenticate by opening `http://localhost:1337/api/connect/wpauth` in the browser, I get instantly redirected to my redirect URL with the Error message: `Grant missing or misconfigured provider`

My adjustmen

[2022-02-11 01:01] smoothdvd commented on #644
@derweili Please inspect baseURL's value, the index.js of current version has a bug of baseURL generation.

https://github.com/strapi/strapi/blob/c106d19dd54b5e8adaab1ad5c3458967e38f6541/packages/plugins/users-permissions/server/bootstrap/index.js#L44

You can patch like that:

[code]

[2022-02-11 09:22] derweili commented on #644
@smoothdvd thank you for that code. This fixed another error I had with the callback URL.

Unfortuntately my problem I is not the callback URL but the fact I never get redirected to the `/authorize` URL of my OAuth provider.
Instead when trying to login via oauth I get directly redirected to the callback URL with the Error `Grant missing or misconfigured provider`

[2022-02-12 17:28] derweili commented on #644
@smoothdvd Yes I did, though I'm not sure if it works.

But I think this `getProfile()` function in the `provider.js` does not even get called.

As I understand this function is only responsible for taking the `access_token` returned by the OAuth server,  requesting the user data (email and username) using this `access_token` from the oauth server, and finally passing the user data to the `callbac

[2022-02-14 01:39] akcyp opened #1062 "[v4] Custom field plugin migration journey"
## Feature request, documentation update request and some questions

Hi, I have recently been migrating my custom field plugin (https://github.com/akcyp/strapi-plugin-point-list). Due to the little information on this subject, I have explored the topic from various sources and mostly by reading the source code.

## 1. Incorrect documentation / schema validation
Let's start with a bug in the docume

[2022-02-14 08:16] Aregver commented on #708
Found the solution :)

[2022-02-14 08:16] #708 closed

[2022-02-14 13:35] #444 closed

[2022-02-14 15:15] smoothdvd commented on #644
@derweili Please check connect source code: https://github.com/strapi/strapi/blob/29bdadf3292817278d7f1d104ae754af07c6c580/packages/plugins/users-permissions/server/controllers/auth.js#L157

and grant repo's config:
https://github.com/simov/grant#connect-origin

[2022-02-14 15:28] smoothdvd commented on #644
@derweili Grant document: https://github.com/simov/grant#misc-custom-providers

Maybe you should add codes like:
[code]

[2022-02-14 23:53] ippoippo opened #731 "[Bug]: "Entity Service API: Ordering & Pagination" uses "orderBy", should be "sort""
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/entity-service/order-pagination.html

### Describe the bug

Please refer to https://github.com/strapi/strapi/issues/12508

The documentation for the Entity Service says we use the `orderBy` parameter.
Having raised an implementation bug on Strapi that sorting was

[2022-02-15 16:39] jimsheen opened #735 "[Request]: Extend users permissions plugin to use token passed as query parameter"
### Summary

In the previous version's documentation. There was an example of how to extend the `users-permissions` plugin to look for a token query parameter and validate a user against that. https://strapi.gitee.io/documentation/v3.x/guides/api-token.html#setup-the-file-to-override

I would like to know how to achieve the same thing in V4 please.

### Why is it needed?

I am aware there is a new

[2022-02-16 03:11] wemod123 opened #752 "Remove references to population and population (combined)"
## Ninja Edit by @derrickmehaffy

We need to remove all information about being able to paginate relationships, as it's not possible and will not be implemented per Alex in https://github.com/strapi/documentation/issues/752#issuecomment-1042863206

## Can not implement Combining Population With Pagination

Following [this document](https://docs.strapi.io/developer-docs/latest/developer-resources/d

[2022-02-16 03:35] mjcadz commented on #600
So there is no way to get user-based policies to work with graphql. This is a requirement for us so we will be sticking to v3 until a fix is made.

[2022-02-16 07:48] chandan-kumar-coworks opened #736 "[Request]: account confirmation email link exipation"
### Summary

I want to know about how can give a certain time to expire the  email confirmation link to confirm the account.
following link should expire after some time

### Why is it needed?

For security purpose confirmation link should valid for certain time

### Suggested solution(s)

_No response_

### Related issue(s)/PR(s)

_No response_

[2022-02-16 13:49] gu-stav opened #739 "[Request]: Resizable fields in 4.0.8"
### Summary

In the upcoming 4.0.8 version it will be possible to resize the fields of the content manager. These changes should be reflected here I think: https://docs.strapi.io/user-docs/latest/content-manager/configuring-view-of-content-type.html

PR: https://github.com/strapi/strapi/pull/12398

### Why is it needed?

In order to properly describe the capabilities of the content manager.

### S

[2022-02-16 22:22] derrickmehaffy commented on #736
Hello,

I see you are wanting to ask a question that is not really a bug report or a feature request, questions should be directed to [our forum](https://forum.strapi.io). Please see the following contributing guidelines for asking a question [here](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md#reporting-an-issue).

[2022-02-16 22:22] #736 closed

[2022-02-17 10:14] #731 closed

[2022-02-19 16:41] mirfmaster opened #753 "[Bug]: cannot open strapi admin page"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/installation.html

### Describe the bug

I don't know why I can't open the admin dashboard, but this is what I found on the console and it seems to block me to open the admin dashboard.

Is there any workaround for this issue? Btw I'm using strapi v. 4.0.7

![image](https://user-ima

[2022-02-20 14:34] mirfmaster commented on #753
It seems I addressing this issue on the wrong repository, I've recreated it on [https://github.com/strapi/strapi/issues/12602](url).
sorry guys.

[2022-02-20 14:34] #753 closed

[2022-02-21 01:49] wemod123 commented on #752
@derrickmehaffy, Thank you for confirmation, this is a SQL limitation having it's rule, and here good to defined clear bound to avoiding misunderstanding in docs.

[2022-02-21 13:51] pwizla commented on #617
Thank @Buro26-Vincent for notifying us, this was fixed in the documentation already, so we're going to close the issue.

[2022-02-21 13:51] #617 closed

[2022-02-21 14:18] pwizla commented on #563
Thank @Fierce-Cat for notifying us, this was fixed in the documentation already, so we're going to close the issue.

[2022-02-21 14:18] #563 closed

[2022-02-21 16:24] vahe-chakhalyan opened #756 "[Bug]: settings.json issue"
### Link to the documentation page or resource

https://github.com/strapi/documentation/blob/0c85ccc3a6f448da6637d9b5fb1a2ff9b9d922d2/docs/developer-docs/latest/plugins/documentation.md

### Describe the bug

I have Strapi v3.6.8. I followed the documentation to create a custom settings.json and I found, that after removing last two servers from servers array, they appear in generated swagger docu

[2022-02-23 16:50] #667 closed

[2022-02-24 00:47] vandrieu opened #762 "[Bug]: populateCreatorFields should be removed"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#model-options

### Describe the bug

Documentation bug:
The Strapi v3 `populateCreatorFields` field does not exist anymore in Strapi v4, as per [this post](https://github.com/strapi/strapi/issues/12228#issuecomment-1043351521).
But it's still documented [here](

[2022-02-24 01:13] kylclrk commented on #762
Completely agree with you on point #2. I've been struggling with this all day and it seems like `populateCreatorFields` no longer works at all (and yes, I've tried populating it in my query).

[2022-02-24 14:52] meganelacheny commented on #707
Hello @user3470 👋
I'm not sure to understand in what part of the documentation you would like to see more examples? Could you please provide more information and documentation links to help us know what to improve exactly?

[2022-02-25 03:21] aquadesk commented on #660
[code]

I've added myself a comment since I keep on forgetting it.

[2022-02-25 03:24] aquadesk commented on #660
`PORT=1401 yarn develop` works but when I change hardcoded port in server.js it does not work.

[2022-02-28 09:15] merijnponzo opened #769 "[Bug]: App deployment Digital Ocean not working"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/digitalocean-app-platform.html#configure-your-strapi-project-for-deployment

### Describe the bug

I followed literally the manual for an app deployment on digital ocean but it gives me a Deploy Error: Non-Zero Exit Code:
[code]

My strapi app is a clean st

[2022-03-02 12:10] NicoHof opened #770 "[Request]: Explain APP_KEYS environment variable in the docs"
### Summary

When creating a new project this was automatically generated in `config/server.js`

[code]
I am currently trying to deploy Strapi on Render. Documentation for this is fine so far. But deployment fails due to the error, that "APP_KEYS" env variable is missing. The APP_KEYS is stored in `.env` file. So far so good. So I fixed it by adding "APP_KEYS" to my env settings

But the main ques

[2022-03-02 14:02] nferrari opened #772 "[Request]: new Cloud Provider to deploy to (alwaysdata)"
### Summary

Digitalocean, Platform.sh and Render provide documentation to deploy Strapi.
I'd like to add a new Cloud Provider, alwaysdata, providing Strapi on its [Marketplace](https://www.alwaysdata.com/en/marketplace/) with a [1-click installation procedure](https://www.alwaysdata.com/en/marketplace/strapi/).

### Why is it needed?

To give another choice to Strapi users, especially if installa

[2022-03-02 16:39] echofoxtrotpl commented on #600
I think I made it. Here is the example of working user-based policy with graphql.

I have events collection with field `creator` which is: relation with User (from: users-permissions)
The goal is to allow only creators to edit their events.

src/index.js
[code]

`user.id` is stored automaticly in JWT. We can extract it from `context.context.state.user.id`. If it matches `entity.creator.id` mutatio

[2022-03-03 08:28] chanakaudithasandaruwan opened #773 "[Bug]: When I get data from Strapi, using API, my all meta tags give null values"
### Link to the documentation page or resource

https://fxaxe.com/forex-glossary/aggressor

### Describe the bug

I need to load title, meta description, and other SEO details, I integrate it using strapi data, but always give null values. I think servers are detected when strapi data are loading. How can integrate strapi data on the meta tags?

![Screenshot 2022-03-03 125533](https://user-images.

[2022-03-03 14:13] JonasJW commented on #473
I'm struggling with this as well, we have used lifecycles for the User in v3 and I don't understand why this is no longer supported in v4.

@petersg83 I have tried your solution with registering lifecycles in the register function, however it seems `strapi.db` is not defined. Any tips?

[2022-03-03 14:16] StrapiShaun commented on #770
Hello @NicoHof. I am a technical writer at Strapi. Thank you for bringing this issue to our attention. The APP_KEYS environment variable was included in the v4.0.6 migration. There is some information available in the [migration guide ](https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to4.0.6.html). I will work with my colleagues to add

[2022-03-03 14:18] petersg83 commented on #473
Hello :) Can you try in the bootstrap instead?

[2022-03-03 14:57] mkmarkop opened #775 "[Request]: Unclear migration guide to v4.0.6"
### Summary

[Instructions for migrating](https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/migration-guide-4.0.x-to4.0.6.html) Strapi from v4.0.x to v4.0.6 aren't clear enough. It simply mentions that the upgrade is required in order for Users & Permissions provider to function properly.

### Why is it needed?

- lacks more in-depth explanation of sessions m

[2022-03-03 15:32] JonasJW commented on #473
@petersg83 thank you, that works!

[2022-03-04 09:58] mkmarkop commented on #770
Are there any updates on this?

[2022-03-04 16:52] rikonor opened #779 "[Request]: Add documentation of `ctx`"
### Summary

The context object is mentioned multiple times in the Strapi docs, yet the docs lack an explanation of its structure and included methods, e.g., [requests-responses](https://docs.strapi.io/developer-docs/latest/development/backend-customization/requests-responses.html).

Various folks mentioned on Discord that `ctx` is a Koa construct, yet various methods like `ctx.send(...)`, which a

[2022-03-04 23:32] albertdugba commented on #581
I also need this badly. At the moment this is how I got it working
[code]

[2022-03-06 02:13] cwray-tech commented on #770
Plus one on this. For me, I wanted to work on the same project I built using quick start and came up on this issue after running yarn develop.

The error messages are not very clear that this needs to be set in the env, and I think there should be a command like "_npx Strapi generate:keys"_ to create a secure key when setting up a project.

[2022-03-06 19:17] owen-duncan-snobel commented on #770
Ya I just had the same problem. When following the deploy to [Heroku with Postgres](https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.html#heroku-install-requirements) it has you set up the config and .envs for everything but does not mention setting the APP_KEYS

[2022-03-08 14:12] macrozone opened #783 "[Request]: document how to pass config to custom plugins field component"
### Summary

Disclaimer: I am maintainer of https://react-page.github.io/

I want to add first class support for ReactPage to strapi, which is a rich layout content editor.

I successfully did a proof of concept locally, but there are a few things missing in the documentation.

Developers that will use ReactPage will bring their own components to add to the editor. Therefore a developer that will

[2022-03-09 11:38] kosnkow opened #787 "[Request]: Cross-content-type live fetching of fields content"
### Summary

I have three collections one to one
on the create view i have a dropdown where i can select item from other collection let say it is primary category
I also have second collection lets say secondary catetory

how to detect when user selected item from first dropdown and then fetch some data and bind to other dropdown collection (just add some filter to it ? )

### Why is it needed?

T

[2022-03-10 12:20] maxpropp opened #789 "[Request]: How to create new fields in default User Content Type through plugin"
### Summary

It would be great to have a documentation that explains how to add new fields to the user content type through plugin.

Also if it explains how to create relations between an existing content type with the plugin's content type would be awesome.

### Why is it needed?

The documentation for plugin development is scarce.

### Suggested solution(s)

_No response_

### Related issue(s)/P

[2022-03-11 14:52] #699 closed

[2022-03-13 16:03] gvr37leo commented on #635
any update on this?
I walked into this issue when following the example in the docs.

[2022-03-14 07:26] sccmlkf opened #794 "[Request]: App deployment Google App Engine Flexible environment update"
### Summary

For Strapi latest version 4.1.x, NodeJS version requirement in some Strapi official plugins requires >= 12.22.0. However, the NodeJS runtime in the Google App Engine flexible environment only provides v12.19.0.

Therefore, it requires an updated document to be deployed in the Google App Engine flexible environment.

### Why is it needed?

The NodeJS requirement in some Strapi official

[2022-03-14 18:45] destroyer22719 commented on #600
Thank you so much! You're an angel!

[2022-03-14 19:30] destroyer22719 commented on #600
@AhmadrezaPRO I'm having problems with the `create` controller. When the user field is a relation to the `User` collection data type it doesn't seem to set the `user` to the current user at all.

[2022-03-16 10:55] StrapiShaun commented on #783
Hello @macrozone,
Thanks for your request. Based on @derrickmehaffy response in the main repo, we will plan to document custom fields in Q2. I will leave this issue open until the documentation is released.

[2022-03-17 12:45] StrapiShaun commented on #581
Hi @IHIutch, @philippone, and @albertdugba. Firstly, I apologize it has taken so long for a response. I am a technical writer at Strapi and would like to assist you with this issue. As you may have seen, we recently released the [Strapi Market](https://market.strapi.io) and in-app Marketplace, where there are many plugins including one for creating a [slug system](https://market.strapi.io/plugins/

[2022-03-17 12:59] StrapiShaun commented on #660
Hello all, I am a technical writer at Strapi and I want to help resolve your issues. @akcyp, This issue has been addressed in PR #799. Thank you for bringing it to our attention. @aquadesk If you have the setup above, Strapi will use the port number from the PORT variable in the .env file. If you remove the value from the .env file then Strapi should use the specified port from the server.js file.

[2022-03-17 13:04] StrapiShaun commented on #752
Hello @wemod123, I am a technical writer at Strapi. We have amended the documentation with PR #797. I will close this issue, but please reach out if you have further questions or suggestions for improving the documentation. We are always grateful for community feedback, it makes us better at our jobs.

[2022-03-17 13:04] #752 closed

[2022-03-17 13:19] IHIutch commented on #581
Ah, cool! Thanks for the response, I'll give this a try this weekend!

[2022-03-17 19:29] Marcosul opened #802 "[Bug]: v4 uses/me function does not return user collections 😡😡😡"
### Link to the documentation page or resource

https://forum.strapi.io/t/strapi-v4-no-relation-fields-in-user-collection-types/13226

### Describe the bug

Hi! I've been using Strapi for almost 2 years. I like the project, but releasing a new version with users/me function that doesn't return user collections doesn't make sense to me. Why that? I'm wasting hours trying to make a function for this

[2022-03-18 03:00] prestigelinks opened #803 "[Bug]: Jekyll tutorial doesn't work with v4"
### Link to the documentation page or resource

 https://docs.strapi.io/developer-docs/latest/developer-resources/content-api/integrations/jekyll.html#create-a-jekyll-app

### Describe the bug

I have run through the tutorial for setting up Strapi with Jekyll and it looks like the jekyll-strapi plugin has not been updated recently and the tutorial no longer works.

### Additional context

_No resp

[2022-03-18 08:13] C4rlit0 opened #804 "[Request]: Admin panel customization - Email templates"
### Summary

Documentation about email templates override (link below) doesn't works as expected.

https://docs.strapi.io/developer-docs/latest/development/admin-customization.html#forgotten-password-email

The sent email is never replaced, neither via the override by this method, nor via the override by the admin panel.

See config below :

![admin-js](https://user-images.githubusercontent.com/16

[2022-03-18 08:32] pwizla commented on #804
Hello @C4rlit0, thank you for creating this issue. I'm sorry you're having trouble with this part of the documentation. I'm adding our senior front-end developer @soupette to the loop so he can help us on the matter. We will keep you posted 🙂

[2022-03-18 08:35] pwizla commented on #804
Not sure it will fix your issue but at least I noticed a typo in the code example in the documentation, I'll fix it right now
<img width="635" alt="Screenshot 2022-03-18 at 09 34 46" src="https://user-images.githubusercontent.com/4233866/158965303-aec30507-6d23-4bf6-aaa9-013713a8716a.png">
.

[2022-03-18 08:47] pwizla commented on #779
Hi @rikonor, thank you for creating this issue. I'm sorry you're having troubles with the Strapi methods built around Koa. I've asked for clarification from our back-end developers and will keep you posted 🙂

[2022-03-18 09:08] pwizla commented on #779
Indeed, `send()` is a custom method added by the Strapi core code on top of Koa's existing API.
These custom methods are defined [here in Strapi source code](https://github.com/strapi/strapi/blob/master/packages/core/strapi/lib/services/server/koa.js#L10). Strapi also added the `created()` and `deleted()` methods.
We will improve our existing documentation with this information. Thank you so much

[2022-03-18 09:54] C4rlit0 commented on #804
Hi Pierre,

Thank you for your quick reply, I've made your correction in my file but the problem is still there.

![config_admin js](https://user-images.githubusercontent.com/16718082/158981178-e4fc9e71-a444-4fe1-81ca-ad6677ee6a8a.png)

[2022-03-18 09:57] pwizla commented on #804
Sorry this happens, Charly. I'll ask for more information from our devs and will get back to you 🙂

[2022-03-18 12:25] #73 closed

[2022-03-18 12:29] StrapiShaun commented on #87
Hello @arps18, I am a technical writer at Strapi. Thanks for your contribution to the Strapi Documentation. We really appreciate community involvement. I see that this issue was solved by PR# 229, thus I am closing the issue.

[2022-03-18 12:29] #87 closed

[2022-03-18 15:39] StrapiShaun opened #807 "Heroku deployment with APP_KEYS"
Ya I just had the same problem. When following the deploy to [Heroku with Postgres](https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.html#heroku-install-requirements) it has you set up the config and .envs for everything but does not mention setting the APP_KEYS. It should probably mention that you need to add the APP_KEYS to the Heroku config

[2022-03-18 15:40] StrapiShaun commented on #770
Hello @NicoHof, Thanks again for raising this issue. The server.js file documentation is updated with PR #799 to include the app.keys parameter. We are continuing to evaluate where we can improve the documentation, so feedback such as this is really appreciated. @owen-duncan-snobel I split your comment into a new GitHub issue and will look into it shortly.

[2022-03-18 15:40] #770 closed

[2022-03-21 10:54] NicolasTsc opened #808 "[Bug]: Login via API returns 403 forbidden (V3)"
### Link to the documentation page or resource

https://docs-v3.strapi.io/developer-docs/latest/guides/auth-request.html#login-as-a-reader

### Describe the bug

When trying to access the login API as descriped in https://docs-v3.strapi.io/developer-docs/latest/guides/auth-request.html#login-as-a-reader the method returns a 403 Access denied without any further context why the login request is blo

[2022-03-21 11:12] NicoHof commented on #770
@StrapiShaun Thank you for linking the PR and updating the Docs with the hint to "koa"! :)

I think its not your job to explain how koa works so the updated readme in your PR is sufficient.

But as I am not familiar with koa I was still a bit confused why there are multiple keys needed and digged a bit in koa and found some kind of helpful stack overflow question. https://stackoverflow.com/questio

[2022-03-21 15:33] StrapiShaun commented on #807
see PR #811

[2022-03-22 16:23] geekdroid07 commented on #708
Can you post your solution pls

[2022-03-22 17:08] gaurav1999 commented on #808
Are you passing auth headers ?

[2022-03-22 17:59] StrapiShaun commented on #775
Hello @mkmarkop, Thank you for your feedback about the v4.0.6 migration guide. I have submitted PR #813  to add more information to the migration guide introduction. We have also added more details about the session middleware to the developer documentation. I checked with one of our developers about if the migration/middleware is required and received this response:

_We will consider it enabled

[2022-03-23 12:32] #345 closed

[2022-03-24 13:34] mkmarkop commented on #775
Thank you for your response, things are more clear now.

[2022-03-24 14:25] C4rlit0 commented on #804
Hi Pierre,

Do you have any news for me about this issue ?
It's very important for us to be able to modify email template.

Many thanks 🙏

[2022-03-24 14:27] pwizla commented on #804
HI Charly,

I'm looping in @soupette (front end developer) and @derrickmehaffy (solutions engineer) in the hope they will be able to find a solution to your problem.

[2022-03-25 08:26] StrapiShaun commented on #581
Hello Everyone, I am closing this issue due to no more comments in the last week. Please don't hesitate to reach out if you have additional questions. We really appreciate the community involvement in improving the Strapi Documentation. Have a great weekend!

[2022-03-25 08:26] #581 closed

[2022-03-25 08:31] StrapiShaun commented on #660
Hello Everyone, Since there have not been additional comments in the last week, I will close this issue. I hope the updated documentation is helpful. Please don't hesitate to reach out if you need further clarification. We appreciate all of the community input that constantly improves the Developer Documentation.

[2022-03-25 08:31] #660 closed

[2022-03-25 08:41] StrapiShaun commented on #775
@mkmarkop, Thanks for your patience! We made a few more small improvements and we are continuing to evaluate how to improve the documentation about the session middleware and the use of environmental variables. Have a great weekend and don't hesitate to reach out about this or other issues.

[2022-03-25 08:41] #775 closed

[2022-03-25 09:57] biko8 opened #819 "[Request]: Using strapi-utils into v4 is correct?"
### Summary

This [page](https://docs.strapi.io/developer-docs/latest/guides/is-owner.html) seems that are loading this library:

`const { parseMultipartData, sanitizeEntity } = require('strapi-utils');`

It is correct? or its better to use the newest **"@strapi/utils"**

If we need to use newest, I cant found sanitizeEntity, how is the update? Please can you check this [page](https://docs.strapi.

[2022-03-25 18:02] DesignfulDev commented on #600
@destroyer22719 In the Admin panel, go to Settings > Users & Permissions Plugin > Roles > Authenticated Then under Permissions > User-permissions make sure the action "find" is checked. Save.

But this solution, seems to me, exposes user data which was hidden by default on the API. With the "find" action allowed for authenticated users, they are able to query all users in the system by GETting '/a

[2022-03-28 05:48] NicolasTsc commented on #808
Only the ones being auto-generated by Postman:
![image](https://user-images.githubusercontent.com/19031453/160334129-87b3332e-c49a-4f3d-9a80-576e439394bf.png)

The docs do not specify any required auth headers for the login.

[2022-03-28 10:54] mukkoo commented on #756
Same issue for me

[2022-03-28 11:04] mukkoo commented on #756
@vahe-chakhalyan the file must be inside `./src/extensions/documentation/config` and not `./extensions/documentation/config/` as described in the doc.

[2022-03-28 15:11] vahe-chakhalyan commented on #756
@mukkoo there is no mention of such a directory in the [documentation](https://github.com/strapi/documentation/blob/0c85ccc3a6f448da6637d9b5fb1a2ff9b9d922d2/docs/developer-docs/latest/plugins/documentation.md#settings).

[2022-03-28 22:43] derrickmehaffy commented on #802
duplicate: https://github.com/strapi/strapi/issues/11957

[2022-03-28 22:43] #802 closed

[2022-03-29 09:02] selimfek commented on #804
Hello,

i'm facing the same issue with email templates. From the GUI, there is no change when modifying the template.
Also when i override it with a template file... HELP PLEASE 🙏🏻

[2022-03-30 09:25] StrapiShaun commented on #807
We are working to fix the documentation for Heroku deployment. The short version is that you need to:

1. add a production server.js file to your Strapi project in the following location: //Path: ./config/env/production/server.js. You will likely need to make both the env and production subdirectories if you have not done so previously.
2. Only refer to the variables in the production .env file, d

[2022-03-30 17:26] derrickmehaffy opened #824 "[Request]: Add documentation for the @strapi/utils package"
### Summary

In v3, most customization was able to pull various functions from the global API `strapi.*` however in v4 we shifted a lot of functions to a centralized package: `@strapi/utils`

Currently most of this package is not documented at all or we only reference some functions in code samples without explaining what they do or how they work.

### Why is it needed?

Many of these functions ar

[2022-04-01 08:58] sevbauer commented on #555
I've created a new repository with a minimal setup to demonstrate the issue:
[Issue-Repo](https://github.com/sevbauer/strapi-v4-plugin-extension-admin-issue)

Read the `README.md` of the repository for installation and more information

This is the actual output:
![image](https://user-images.githubusercontent.com/51238101/161230408-fccc9c4a-76e7-4178-ab95-61a73a831686.png)

[2022-04-01 11:48] NicoHof opened #825 "[Request]: Extended documentation for NODE_ENV variable"
### Summary

I cannot find a detailed documentation section about the NODE_ENV variable.
I want to have 3 different instances: local, staging, production
And I want to be sure my staging and production work 100% identical.

So as the docs state I can use `.env` files and/or/combine with the file structure in `config/env/NODE_ENV/*`.
https://docs.strapi.io/developer-docs/latest/setup-deployment-gui

[2022-04-02 06:05] rowild opened #826 "[Request]: Provide better instructions for Docker setup and update Docker image"
### Summary

When working through this docu:
https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/installation/docker.html#creating-a-strapi-project
the final result does
- not work
- use strapi 3.8.6

### Why is it needed?

Using a v3 strapi in a v4 docu is misleading. This should be mentioned in any way so the user knows what (s)he is up to.

Also, the provided docker-compose-yml

[2022-04-02 08:18] StrapiShaun commented on #826
Hi @rowild, Thanks for opening this issue and being an active contributor to the Strapi community. I plan to address this issue in the documentation during the next week.

[2022-04-04 06:31] StrapiShaun commented on #825
Hello @NicoHof, I have asked one of our developers to have a look at your request and provide feedback. I will keep you updated with any responses. Thanks for helping to improve the Strapi technical documentation. I am certain many other users will benefit from any improvements!

[2022-04-04 08:49] petersg83 commented on #825
Hello @NicoHof :)
They are indeed small things that only apply when `NODE_ENV` equals `production` (exemple the session middleware that is in secure mode).

I see what your need is, a solution I can propose is maybe to use `NODE_ENV=production` in your staging environment and to load all the config that differs from the environment.
ex:
[code]

[2022-04-04 15:15] StrapiShaun commented on #825
@NicoHof and @petersg83, I will add this to our plan for improving the Environment documentation. I will leave this issue open for now, and provide an update when there is a PR.

[2022-04-05 08:39] StrapiShaun commented on #826
Hello @rowild, with feedback from our team, I have updated the developer docs. Please see PR #828 and/or the readme file in the [Docker repository ](https://github.com/strapi/strapi-docker/blob/master/README.md) for our current recommendations regarding Docker and v4. Thanks again for your contributions to improving the Strapi Documentation.

[2022-04-05 09:19] rowild commented on #826
@StrapiShaun Thanks for the feedback!

However, this page:
https://documentation-git-dev-docker-update-strapijs.vercel.app/developer-docs/latest/setup-deployment-guides/installation/docker.html#creating-a-strapi-project

only received a new warning at the top, but nothing else, that points to a successful way on how to get strapi docker running. The relevant information is here:
https://github.com

[2022-04-05 09:49] rowild commented on #826
Thank you, @StrapiShaun !

The main thing that is missing (or at least was missing for me) is that it is required to run
[code]
which seems to install the strapi dependencies (so far only DB dependencies are installed).

(If that is wrong on my part (due to me being to impatient, because nothing happens on the CLI), than I would suggest to mention that a considerable waiting time is to be expected

[2022-04-05 09:55] StrapiShaun commented on #826
Hi @rowild, I will check to see what we can update in the short term. Any updates that are relevant to v3 will be in the v3 documentation, not in the v4 for documentation. I will leave this issue open until I can share more information. Thanks again for your continued contributions and feedback.

[2022-04-05 10:07] rowild commented on #826
@StrapiShaun The Docker instructions are also available in the v4 documentation:

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/installation/docker.html

An idea:  Instead of providing an old, incomplete instruction, that does not fit your internal guidelines and as long as there is no v4 for docker, why not just put a link there to the v3 documentation mentioning that there

[2022-04-05 16:47] NicoHof commented on #807
@StrapiShaun Just want to mention, that this variable is also needed in the render deploy docs https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/render.html
The template file should be updated: https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/render.html#step-3-add-a-render-yaml-file

[2022-04-05 18:45] StrapiShaun commented on #807
@NicoHof, thanks! I think nearly every deployment guide will need to be updated for this reason. If you work out the solution for Render, please feel free to submit a PR to update the documentation. Thanks again for being an active contributor to the Strapi repo, the community is what makes Strapi such a great place to work.

[2022-04-05 19:10] NicoHof commented on #807
@StrapiShaun I will have a look

[2022-04-05 20:49] NicoHof commented on #807
@StrapiShaun create a PR https://github.com/strapi/documentation/pull/832

[2022-04-06 08:39] DimitriGilbert opened #834 "[Bug]: Missing information for plugin creation"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/development/plugins-development.html

### Describe the bug

The kebab case constraint for plugin names in the config file is not given in the documentation.

### Additional context

_No response_

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_No response_

[2022-04-06 09:06] StrapiShaun commented on #834
Hello @DimitriGilbert. I am a Technical Writer at Strapi. Thanks for opening this issue. We really appreciate community feedback on the documentation, and this sort of improvement is helpful for many users. Please feel free to open PRs for issues such as there where you know the solution. Otherwise, I will try to resolve the issue in the next week.  Thanks again for your contribution.

[2022-04-06 09:19] StrapiShaun commented on #769
Hello @merijnponzo, I am sorry for the late response. I have assigned this issue to myself and I will start working on it within the next few workdays. I aim to have the official documentation update in about 2 weeks. If you have any further feedback or questions, please don't hesitate to reach out.

[2022-04-06 13:24] DimitriGilbert commented on #834
@StrapiShaun Here is the [PR](https://github.com/strapi/documentation/compare/main...DimitriGilbert:patch-1)

[2022-04-06 13:46] kasonde commented on #834
Hey @DimitriGilbert thanks a ton for the contribution. I noticed the link you shared is one comparing your codebase branch called `patch-1` to the strapi documentation repo. To create a the PR, please click the button on the right side of the web page called "Create Pull Request" that appears like the one shown here:
<img width="392" alt="image" src="https://user-images.githubusercontent.com/13610

[2022-04-06 14:05] DimitriGilbert commented on #834
meh, my bad, doing too many things at once only result in nothing being done ^^ The [PR](https://github.com/strapi/documentation/pull/836) is now created.

[2022-04-06 15:42] SabryTarek opened #837 "[Bug]: Broken button "Download Ebook" at strapi.io"
### Link to the documentation page or resource

https://strapi.io/headless-cms-guide%23contact

### Describe the bug

When I press the **"Download Ebook" button** it's do nothing.

### Additional context

After some tries and reading the HTML of *page source* I realize that this button is  **\<a\> tag** with **"href" attribute** to the same web page **[The Guide to Headless CMS Ebook](https://stra

[2022-04-06 16:19] pateljoel commented on #456
Been looking at the migration guides here:

https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides.html#v3-to-v4-migration-guides

Has there been any progress yet?

[2022-04-06 18:03] dsfaccini commented on #807
Sorry good Sir, experiencing this problem atm. What's supposed to go into the APP_KEYS field??

[2022-04-07 04:06] StrapiShaun commented on #837
Hello @SabryTarek, I am a technical writer at Strapi. I am sorry you encountered this problem. I forwarded your message to our Marketing team, who handles the website. This repository is primarily for technical documentation so I will close the issue.

[2022-04-07 04:06] #837 closed

[2022-04-07 07:17] kstoklosa opened #839 "[Bug]: afterDelete lifecycle hook result parameter might be an array"
### Link to the documentation page or resource

https://docs-v3.strapi.io/developer-docs/latest/development/backend-customization.html#models

### Describe the bug

After performing bulk delete on given models, the `result` parameter from the `afterDelete` lifecycle hook **is no longer an object but an array of deleted entries**.

### Additional context

`afterDelete` hook was responsible for remo

[2022-04-07 07:56] StrapiShaun commented on #839
Hello @kstoklosa, I am a technical writer at Strapi. Thank you for opening this issue and an associate PR. We really appreciate the community contributions that help us improve the documentation. I have asked one of our Solutions Engineers to review the PR so we can merge it into the main documents repository. Thanks again!

[2022-04-07 11:32] SabryTarek commented on #837
Thanks @StrapiShaun for your quick response.

Could you please forward to them this issue also?
the URL of the same page (https://strapi.io/headless-cms-guide%23contact) has a **"%23"** symbol represent **"#"**.
you can eliminate this symbol to get a readable route's URL name.

Thanks in advance.

[2022-04-07 11:44] StrapiShaun commented on #837
@SabryTarek:  Done! FYI the team is aware of the issue affecting multiple parts of the website and working on corrections. Thanks for your help in identifying the problem.

[2022-04-07 13:49] StrapiShaun commented on #834
@DimitriGilbert I just want to clarify which step you ran into a problem with a plugin that lacked kebab case? I was able to create a plugin from the CLI tools without kebab case, so I assume the problem occurs later on? Thanks again for your contribution!

[2022-04-07 14:38] philippkhon commented on #837
Hello @SabryTarek ! Thanks for pinging, this issue is fixed now.
cc @StrapiShaun

[2022-04-07 16:47] DimitriGilbert commented on #834
@StrapiShaun, creating the plugin is not the problem, the plugin config file expect plugin name to be kebab cased :

[code]

[2022-04-07 16:52] StrapiShaun commented on #834
OK. I will do a couple of quick tests tomorrow and then we should be OK. Are you using the TypeScript beta?

[2022-04-08 06:13] StrapiShaun commented on #834
This issue is fixed with PR #836. Thanks again to @DimitriGilbert for identifying the issue and opening a PR.

[2022-04-08 06:13] #834 closed

[2022-04-08 06:14] #807 closed

[2022-04-08 06:34] StrapiShaun commented on #772
Hello @nferrari, I am a technical writer at Strapi. I am sorry that we did not respond to your issue sooner. We always welcome community contributions, in fact many of the deployment guides start out as community submissions. Please feel free to open a PR and I will direct it to the right people for review. I will close this issue once you submit the PR.

[2022-04-08 10:16] danielsum opened #841 "[Request]: Add Graphql/rest documentation for V4 using native Http Laravel Client"
### Summary

Add a part to explain how to easily add a GraphQL support inside Laravel using de native Http Client provider from Laravel and without external Library.

### Why is it needed?

The Laravel Library is not up to date and it's not working.

I think it's way better to use the native GraphQL/Rest Api directly from Strapi and Laravel to handle gql file and have the autocomplete.

### Sugges

[2022-04-08 14:09] StrapiShaun commented on #841
Hello @danielsum. I am a Technical Writer at Strapi. Is this request in reference to the [Get started with Laravel guide](https://docs.strapi.io/developer-docs/latest/developer-resources/content-api/integrations/laravel.html#install-the-laravel-strapi-laravel-package)? Your request seems fairly well developed, so please feel free to open a PR to improve the documentation. We really appreciate deta

[2022-04-09 13:52] khako opened #844 "[Bug]: Documentation for custom routes [documentation plugin]"
### Link to the documentation page or resource

https://market.strapi.io/plugins/@strapi-plugin-documentation

### Describe the bug

The documentation plugin for strapi 4 dosen't create documentation for custom routes (or I didn't find info about it ?).
For example I have the following routes:
[code]

The swagger documentation will only be generated for core routes and not for the extended routes.

[2022-04-10 07:35] StrapiShaun commented on #844
Hello @khako, I am a Technical Writer at Strapi. I know that one of our developer squads is currently working to improve the Documentation plugin. I am going to share this issue with the team and try to find a solution. Thanks for opening an issue, it really helps us improve the documentation.

[2022-04-10 07:56] StrapiShaun commented on #844
@khako I see you linked to the plugin market. We also have documentation [here](https://docs.strapi.io/developer-docs/latest/plugins/documentation.html#installation) that might be helpful. I will try to find time to test this myself during the week.

[2022-04-10 23:13] dieguezz opened #845 "[Request]: lifecycle documentation improvement"
### Summary

when updating an item through a [lifecycle hook](https://docs.strapi.io/developer-docs/latest/development/backend-customization/models.html#declarative-and-programmatic-usage), for some reason you cannot do it from a third function.

ie:  this will **not** update the data
[code]
Instead you need to do something like:
[code]
And js works passing a reference, as you can check [here](htt

[2022-04-11 05:30] derrickmehaffy commented on #456
All migration guides except for the Mongo v3 to SQL v3 (which has an open PR on our documentation repo) are released. The scripts will be following shortly. They are currently going through alpha testing internally.

I'm going to close this issue since the guides are now almost completely released.

[2022-04-11 05:30] #456 closed

[2022-04-11 06:07] #841 closed

[2022-04-11 06:11] StrapiShaun commented on #841
Thank You @danielsum for the valuable contribution! We appreciate community contributions that improve the documentation.

[2022-04-13 04:20] IHIutch commented on #581
Was finally able to get a look at this and I'm not sure about the solution here. Couple thoughts:
1. I wasn't really referring to the ability to _create_ a slug field, I wanted to be able to query that field like how v3 let's you
2. The updated Next.js [example is here](https://github.com/strapi/starters-and-templates/blob/main/packages/starters/next-blog/starter/pages/article/%5Bslug%5D.js). Whil

[2022-04-14 23:00] madamot opened #849 "[Bug]: Deploy to Heroku instructions result in an application error"
### Link to the documentation page or resource

https://docs.strapi.io/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.html#_6-install-the-pg-node-module

### Describe the bug

I have followed the instructions steps for step multiple times now and each time I receive an application error when visiting Strapi after deploying it to Heroku.

The build succeeds fine with

[2022-04-15 05:40] StrapiShaun commented on #849
Hello @madamot, I am a technical writer at Strapi. I am sorry you are having a problem with Heroku deployment. Are you using v4.1.8? I tried to spin up a new Strapi project on Heroku this morning and I think I had the same issue as you. I rolled back my Strapi version to 4.1.5 and then the deployment was successful. (Disclaimer: I had deployed the same app with 4.1.5 before, which is why I picked

[2022-04-15 16:16] StrapiShaun commented on #849
Hello @madamot. I just confirmed with one of our solutions engineers that that problem is related to a change in how secrets are handled in the most recent version of the app. There should be a pull request to fix the problem soon. Thanks for bringing the issue to our attention. I will leave this issue open until the PR is available.

[2022-04-15 17:41] StrapiShaun commented on #849
#850

[2022-04-15 20:40] madamot commented on #849
Thank you for your help and fast response, it is really appreciated.

I downgraded to version 4.1.5 like you said and fortunately I no longer received Heroku's application error!

However when it came to creating my admin account I received 500 and 400 error codes in the console log when clicking lets go:

<img width="1792" alt="Screenshot 2022-04-15 at 21 35 18" src="https://user-images.githubuse

[2022-04-16 05:51] StrapiShaun commented on #849
Hello @madamot, could you try deploying with this [updated guide](https://documentation-git-fix-herokuenv-strapijs.vercel.app/developer-docs/latest/setup-deployment-guides/deployment/hosting-guides/heroku.html#_5-create-your-strapi-server-config-for-production)? There is a change in how the secrets are handled in v4.1.8, and depending on your first version, the behavior might not be the same as mi

[2022-04-18 09:49] madamot commented on #849
Hey @StrapiShaun, I gave the updated guide a try and created a brand new Strapi project from scratch to deploy to Heroku.

It's probably import to note I am using a Mac.

Unfortunately Heroku gave me another application error:

<img width="1792" alt="Screenshot 2022-04-18 at 10 39 04" src="https://user-images.githubusercontent.com/36903785/163790060-245d2617-8ba4-4413-8e5d-0b809e47a7b0.png">

The

[2022-04-18 16:12] derrickmehaffy commented on #849
Quite welcome :)

[2022-04-18 17:51] derrickmehaffy commented on #581
Technically yes it's possible (though you can't use the internal `findOne` because of this: https://github.com/strapi/strapi/issues/12208) although we don't recommend that and instead you should use the filtering system:

`GET http://localhost:1337/api/restaurants?filters[slug][$eq]=someslug`

[2022-04-18 17:52] derrickmehaffy commented on #779
There is a lot of stuff in the ctx we need to document, I think it might be worth it in this case to also document some native koa stuff too. We used to have a link and some very light docs ages ago (like v3-alpha days) but the koa documentation is largely pretty bad.

[2022-04-18 18:53] IHIutch commented on #581
Makes sense, thanks for the update and suggestion

[2022-04-19 05:52] StrapiShaun commented on #849
@madamot, I am happy it is working! Again, thanks for identifying the issue and posting it. If you haven't joined already, we have a [community Discord](https://discord.com/invite/strapi) that can be quite helpful as well. I will close this issue now, and we should have the updated guide in the main documentation within the next week or so. Best of luck with your project.

[2022-04-19 05:52] #849 closed

[2022-04-19 14:05] tigfamon opened #852 "[Bug]: Why is the documentation extension (OpenAPI) generating the wrong data type?"
### Link to the documentation page or resource

https://forum.strapi.io/t/why-is-the-documentation-extension-openapi-generating-the-wrong-data-type/5750

### Describe the bug

See https://forum.strapi.io/t/why-is-the-documentation-extension-openapi-generating-the-wrong-data-type/5750

### Additional context

[code]

### Suggested improvements or fixes

_No response_

### Related issue(s)/PR(s)

_N

[2022-04-20 08:54] StrapiShaun commented on #690
Hello @f1sle, I am closing this issue since we merged a fix to the documentation on 16-Feb. If you have any additional questions, please feel free to let me know and I will try to assist.

[2022-04-20 08:54] #690 closed

[2022-04-20 09:37] tigfamon commented on #852
For correct work of types generate (https://github.com/acacode/swagger-typescript-api) I have written a function that I run before codegenerator:
[code]

And use this function:
[code]

[2022-04-20 16:59] StrapiShaun commented on #852
Hello @tigfamon, I am a technical writer at Strapi. I am a bit confused by your post because it has v4 dependencies but the linked issue on the forum has v3 system information listed. Could you clarify that you are having a problem with the v4 Documentation plugin? Thanks!

[2022-04-21 06:15] StrapiShaun commented on #642
Hello all, This issue seems to be resolved by PR #610. Please open a new issue if you have further questions about WYSIWYG documentation.

[2022-04-21 06:15] #642 closed

[2022-04-21 11:34] tigfamon commented on #852
Hi @StrapiShaun !
Sorry for a confuse. This bug is relevant for the `4.1.8` version.

[2022-04-21 13:40] StrapiShaun commented on #852
@tigfamon, I have passed this to one of our devs that was already working on improving the Documentation plugin. I will leave this issue open and update you once there is a pull request covering the topic. Thanks for reporting the problem, it helps us improve the documentation for the whole community.

[2022-04-21 13:48] StrapiShaun commented on #839
Hello @kstoklosa, Since your PR has been reviewed I am going to close this issue. I will remind the reviewer to approve and we should be able to deploy within the next week or so. Thanks for your contribution!